.anatomy-simple {
  margin: 90px 0;
  display: none;
  @include media($mobile) {
    display: block;
  }
  &__content {
    margin-top: 60px;
    @include media($tablet) {
      div[class^="col"] {
          padding: 0;
      }
    }
  }
  &__heading {
    @extend %txt-subtitle-h2;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
}
