.image-block {
  .col-xs-12 {
    margin-bottom: 30px;
    @include media($tablet) {
      margin-bottom: 0;
    }
  }
}


.e-image-full-xs {
  width: 100%;
  @include media($mobile) {
    width: auto;

  }
}
