.image-block {
  .col-xs-12 {
    margin-bottom: 30px;
    @include media($tablet) {
      margin-bottom: 0;
    }
  }
}

.ic-hotel {
  @include size(24px, 29px);
}


.e-image-full-xs {
  width: 100%;
  @include media($mobile) {
    width: auto;

  }
}
.image-2x {
  width: 100%;
  max-width: 900px;
}
.image-3x {
  max-width: 600px;
  width: 100%;
  @include media($mobile) {
    width: 80%;
  }
}
