
//
// Variables
// -----------------------------------------

$tooltip-bg:             #fff !default;
$tooltip-bg-dark:        $grey05 !default;
$tooltip-base-size:      10px !default;
$tooltip-arrow-height:   6px;
$tooltip-shadow:         0 1px 5px rgba(0, 0, 0, 0.2);


//
// Mixins
// -----------------------------------------

  @mixin transform ($val) {
     transform: $val;
   }

  @mixin transform-origin ($val) {
  transform-origin: $val;
  }

.tooltip {
  @include position(relative, 0 null null 0);
  z-index: 1010;
  display: inline-block;
  background-color: $tooltip-bg;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: $tooltip-shadow;
  background-clip: padding-box;

  padding: 9px 14px;

  &.dark {
    background-color: $tooltip-bg-dark;
    border: none;
    .arrow {
      border-color: transparent !important;
    }
    .tooltip-content {
      color: $white;
    }
  }

  &.top {
    .arrow {
      left: 50%;
      top: 100%;
      border-top-color: #ccc;
      border-width: 6px;
      @include transform(translate(-50%, 0));
      &:after {
        border-top-color: $tooltip-bg;
        border-width: 10px 10px 0;
        left: 50%;
        @include transform(translate(-50%, -12px));
      }

    }
  }
}

.tooltip-content {
  white-space: pre;
  font-family: Telefonicaregular;
  font-size: rem-calc(12);
  line-height: rem-calc(19);
  color: $grey;
  text-align: left;
  strong {
    font-family: Telefonicabold;
  }
}

.tooltip .arrow,
.tooltip .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip .arrow:after {
  z-index: -1;
  content: "";
}

// Dark
.tooltip.right.dark .arrow {
  &:after {
    border-right-color: $tooltip-bg-dark;
  }
}
.tooltip.bottom.dark .arrow {
  &:after {
    border-bottom-color: $tooltip-bg-dark;
  }
}
.tooltip.left.dark .arrow {
  &:after {
    border-left-color: $tooltip-bg-dark;
  }
}
.tooltip.top.dark .arrow {
  &:after {
    border-top-color: $tooltip-bg-dark;
  }
}


.tooltip.right .arrow {
  top: 50%;
  right: 100%;
  border-right-color: #ccc;
  border-width: 6px;
  @include transform(translate(0, -50%));
  &:after {
    top: 50%;
    border-right-color: $tooltip-bg;
    border-width: 10px 10px 10px 0;
    @include transform(translate(2px, -50%));
  }

}

.tooltip.bottom .arrow {
  left: 50%;
  bottom: 100%;
  border-bottom-color: #ccc;
  border-width: 6px;
  @include transform(translate(-50%, 0));
  &:after {
    left: 50%;
    border-bottom-color: $tooltip-bg;
    border-width: 0 10px 10px;
    @include transform(translate(-50%, 2px));
    @include transform-origin(bottom);
  }
}

.tooltip.left .arrow {
  top: 50%;
  left: 100%;
  border-left-color: #ccc;
  border-width: 6px;
  @include transform(translate(0, -50%));
  &:after {
    top: 50%;
    border-left-color: $tooltip-bg;
    border-width: 10px 0 10px 10px;
    @include transform(translate(-12px, -50%));
    @include transform-origin(left);
  }
}
