@font-face {
  font-family: 'Telefonicaextralight';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonica-extralight.eot');
    src: font-url('telefonica-extralight.eot?#iefix')                format('embedded-opentype'),
         font-url('telefonica-extralight.woff')                      format('woff'),
         font-url('telefonica-extralight.ttf')                       format('truetype'),
         font-url('telefonica-extralight.svg#Telefonicaextralight')  format('svg');
}

@font-face {
  font-family: 'Telefonicalight';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonica-light.eot');
    src: font-url('telefonica-light.eot?#iefix')              format('embedded-opentype'),
         font-url('telefonica-light.woff')                    format('woff'),
         font-url('telefonica-light.ttf')                     format('truetype'),
         font-url('telefonica-light.svg#Telefonicalight')     format('svg');
}

@font-face {
  font-family: 'Telefonicaregular';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonica-regular.eot');
    src: font-url('telefonica-regular.eot?#iefix')             format('embedded-opentype'),
         font-url('telefonica-regular.woff')                   format('woff'),
         font-url('telefonica-regular.ttf')                    format('truetype'),
         font-url('telefonica-regular.svg#Telefonicaregular')  format('svg');
}

@font-face {
  font-family: 'Telefonicatextbold';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonicatext-bold.eot');
    src: font-url('telefonicatext-bold.eot?#iefix')              format('embedded-opentype'),
         font-url('telefonicatext-bold.woff')                    format('woff'),
         font-url('telefonicatext-bold.ttf')                     format('truetype'),
         font-url('telefonicatext-bold.svg#Telefonicatextbold')  format('svg');
}

@font-face {
  font-family: 'Telefonicatextregular';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonicatext-regular.eot');
    src: font-url('telefonicatext-regular.eot?#iefix')                 format('embedded-opentype'),
         font-url('telefonicatext-regular.woff')                       format('woff'),
         font-url('telefonicatext-regular.ttf')                        format('truetype'),
         font-url('telefonicatext-regular.svg#Telefonicatextregular')  format('svg');
}

@font-face {
  font-family: 'Telefonicabold';
  font-weight: normal;
  font-style: normal;
    src: font-url('telefonica-bold.eot');
    src: font-url('telefonica-bold.eot?#iefix')          format('embedded-opentype'),
         font-url('telefonica-bold.woff')                format('woff'),
         font-url('telefonica-bold.ttf')                 format('truetype'),
         font-url('telefonica-bold.svg#Telefonicabold')  format('svg');
}

/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: font-url("fontcustom_1998785414c28b8f51f48bfed3af01a1.eot");
  src: font-url("fontcustom_1998785414c28b8f51f48bfed3af01a1.eot?#iefix") format("embedded-opentype"),
       font-url("fontcustom_1998785414c28b8f51f48bfed3af01a1.woff2") format("woff2"),
       font-url("fontcustom_1998785414c28b8f51f48bfed3af01a1.woff") format("woff"),
       font-url("fontcustom_1998785414c28b8f51f48bfed3af01a1.ttf") format("truetype"),
       font-url("fontcustom_1998785414c28b8f51f48bfed3af01a1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: font-url("fontcustom_1998785414c28b8f51f48bfed3af01a1.svg#fontcustom") format("svg");
  }
}



[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-2-col-bg:before,
.icon-4-col-bg:before,
.icon-6-col-bg:before,
.icon-8-col-bg:before,
.icon-ic-ai_02:before,
.icon-ic-arrow:before,
.icon-ic-arrow-up:before,
.icon-ic-back-arrow:before,
.icon-ic-btn:before,
.icon-ic-caret:before,
.icon-ic-cart:before,
.icon-ic-check:before,
.icon-ic-circle-arrow:before,
.icon-ic-close:before,
.icon-ic-components:before,
.icon-ic-copy:before,
.icon-ic-desktop-callout:before,
.icon-ic-desplegar:before,
.icon-ic-double-arrow:before,
.icon-ic-downloads:before,
.icon-ic-driving:before,
.icon-ic-envelope:before,
.icon-ic-fuel:before,
.icon-ic-fullscreen:before,
.icon-ic-graphics-blue:before,
.icon-ic-graphics-vizrules-xs:before,
.icon-ic-guidelines:before,
.icon-ic-hand:before,
.icon-ic-hotel:before,
.icon-ic-info:before,
.icon-ic-less:before,
.icon-ic-local-hotel:before,
.icon-ic-more:before,
.icon-ic-password:before,
.icon-ic-pdf:before,
.icon-ic-pois:before,
.icon-ic-question:before,
.icon-ic-resources:before,
.icon-ic-restaurants:before,
.icon-ic-search:before,
.icon-ic-select:before,
.icon-ic-single-arrow:before,
.icon-ic-sketch:before,
.icon-ic-tablet-callout:before,
.icon-ic-tooltip:before,
.icon-ic-traffic:before,
.icon-ic-typography:before,
.icon-ic-uielements:before,
.icon-ic-user:before,
.icon-ic-viz-rules:before,
.icon-ic-xlsx:before,
.icon-ic-xml:before,
.icon-layout-desktop:before,
.icon-layout-grid02:before,
.icon-layout-labtop:before,
.icon-layout-mobile:before,
.icon-layout-tablet:before,
.icon-legend-example:before,
.icon-logo-luca:before,
.icon-mobile:before,
.icon-pattern:before,
.icon-sort-down:before,
.icon-sort-up:before,
.icon-tablet:before,
.icon-triangle:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-2-col-bg:before { content: "\f161"; }
.icon-4-col-bg:before { content: "\f162"; }
.icon-6-col-bg:before { content: "\f163"; }
.icon-8-col-bg:before { content: "\f164"; }
.icon-ic-ai_02:before { content: "\f165"; }
.icon-ic-arrow:before { content: "\f166"; }
.icon-ic-arrow-up:before { content: "\f167"; }
.icon-ic-back-arrow:before { content: "\f168"; }
.icon-ic-btn:before { content: "\f169"; }
.icon-ic-caret:before { content: "\f1bc"; }
.icon-ic-cart:before { content: "\f16d"; }
.icon-ic-check:before { content: "\f1bd"; }
.icon-ic-circle-arrow:before { content: "\f171"; }
.icon-ic-close:before { content: "\f172"; }
.icon-ic-components:before { content: "\f1be"; }
.icon-ic-copy:before { content: "\f179"; }
.icon-ic-desktop-callout:before { content: "\f17a"; }
.icon-ic-desplegar:before { content: "\f17b"; }
.icon-ic-double-arrow:before { content: "\f17c"; }
.icon-ic-downloads:before { content: "\f1bf"; }
.icon-ic-driving:before { content: "\f17f"; }
.icon-ic-envelope:before { content: "\f180"; }
.icon-ic-fuel:before { content: "\f181"; }
.icon-ic-fullscreen:before { content: "\f182"; }
.icon-ic-graphics-blue:before { content: "\f183"; }
.icon-ic-graphics-vizrules-xs:before { content: "\f184"; }
.icon-ic-guidelines:before { content: "\f1c0"; }
.icon-ic-hand:before { content: "\f18a"; }
.icon-ic-hotel:before { content: "\f18b"; }
.icon-ic-info:before { content: "\f18c"; }
.icon-ic-less:before { content: "\f18d"; }
.icon-ic-local-hotel:before { content: "\f18e"; }
.icon-ic-more:before { content: "\f190"; }
.icon-ic-password:before { content: "\f191"; }
.icon-ic-pdf:before { content: "\f192"; }
.icon-ic-pois:before { content: "\f193"; }
.icon-ic-question:before { content: "\f194"; }
.icon-ic-resources:before { content: "\f1c1"; }
.icon-ic-restaurants:before { content: "\f198"; }
.icon-ic-search:before { content: "\f199"; }
.icon-ic-select:before { content: "\f19a"; }
.icon-ic-single-arrow:before { content: "\f19b"; }
.icon-ic-sketch:before { content: "\f19c"; }
.icon-ic-tablet-callout:before { content: "\f19e"; }
.icon-ic-tooltip:before { content: "\f19f"; }
.icon-ic-traffic:before { content: "\f1a0"; }
.icon-ic-typography:before { content: "\f1a1"; }
.icon-ic-uielements:before { content: "\f1c2"; }
.icon-ic-user:before { content: "\f1a5"; }
.icon-ic-viz-rules:before { content: "\f1c3"; }
.icon-ic-xlsx:before { content: "\f1a7"; }
.icon-ic-xml:before { content: "\f1a8"; }
.icon-layout-desktop:before { content: "\f1a9"; }
.icon-layout-grid02:before { content: "\f1aa"; }
.icon-layout-labtop:before { content: "\f1ab"; }
.icon-layout-mobile:before { content: "\f1ac"; }
.icon-layout-tablet:before { content: "\f1ad"; }
.icon-legend-example:before { content: "\f1ae"; }
.icon-logo-luca:before { content: "\f1af"; }
.icon-mobile:before { content: "\f1b0"; }
.icon-pattern:before { content: "\f1b1"; }
.icon-sort-down:before { content: "\f1b4"; }
.icon-sort-up:before { content: "\f1b5"; }
.icon-tablet:before { content: "\f1b7"; }
.icon-triangle:before { content: "\f1b9"; }
