@font-face {
  font-family: 'Telefonicaextralight';
  font-weight: normal;
  font-style: normal;
    src: url('/assets/fonts/telefonica-extralight.eot');
    src: url('/assets/fonts/telefonica-extralight.eot?#iefix')                format('embedded-opentype'),
         url('/assets/fonts/telefonica-extralight.woff')                      format('woff'),
         url('/assets/fonts/telefonica-extralight.ttf')                       format('truetype'),
         url('/assets/fonts/telefonica-extralight.svg#Telefonicaextralight')  format('svg');
}

@font-face {
  font-family: 'Telefonicalight';
  font-weight: normal;
  font-style: normal;
    src: url('/assets/fonts/telefonica-light.eot');
    src: url('/assets/fonts/telefonica-light.eot?#iefix')              format('embedded-opentype'),
         url('/assets/fonts/telefonica-light.woff')                    format('woff'),
         url('/assets/fonts/telefonica-light.ttf')                     format('truetype'),
         url('/assets/fonts/telefonica-light.svg#Telefonicalight')     format('svg');
}

@font-face {
  font-family: 'Telefonicaregular';
  font-weight: normal;
  font-style: normal;
    src: url('/assets/fonts/telefonica-regular.eot');
    src: url('/assets/fonts/telefonica-regular.eot?#iefix')             format('embedded-opentype'),
         url('/assets/fonts/telefonica-regular.woff')                   format('woff'),
         url('/assets/fonts/telefonica-regular.ttf')                    format('truetype'),
         url('/assets/fonts/telefonica-regular.svg#Telefonicaregular')  format('svg');
}

@font-face {
  font-family: 'Telefonicatextbold';
  font-weight: normal;
  font-style: normal;
    src: url('/assets/fonts/telefonicatext-bold.eot');
    src: url('/assets/fonts/telefonicatext-bold.eot?#iefix')              format('embedded-opentype'),
         url('/assets/fonts/telefonicatext-bold.woff')                    format('woff'),
         url('/assets/fonts/telefonicatext-bold.ttf')                     format('truetype'),
         url('/assets/fonts/telefonicatext-bold.svg#Telefonicatextbold')  format('svg');
}

@font-face {
  font-family: 'Telefonicatextregular';
  font-weight: normal;
  font-style: normal;
    src: url('/assets/fonts/telefonicatext-regular.eot');
    src: url('/assets/fonts/telefonicatext-regular.eot?#iefix')                 format('embedded-opentype'),
         url('/assets/fonts/telefonicatext-regular.woff')                       format('woff'),
         url('/assets/fonts/telefonicatext-regular.ttf')                        format('truetype'),
         url('/assets/fonts/telefonicatext-regular.svg#Telefonicatextregular')  format('svg');
}

@font-face {
  font-family: 'Telefonicabold';
  font-weight: normal;
  font-style: normal;
    src: url('/assets/fonts/telefonica-bold.eot');
    src: url('/assets/fonts/telefonica-bold.eot?#iefix')          format('embedded-opentype'),
         url('/assets/fonts/telefonica-bold.woff')                format('woff'),
         url('/assets/fonts/telefonica-bold.ttf')                 format('truetype'),
         url('/assets/fonts/telefonica-bold.svg#Telefonicabold')  format('svg');
}

/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "luca-icon";
  src: url('/assets/fonts/luca-icon.eot');
  src: url('/assets/fonts/luca-icon.eot?#iefix') format("embedded-opentype"),
       url('/assets/fonts/luca-icon.woff') format("woff"),
       url('/assets/fonts/luca-icon.ttf') format("truetype"),
       url('/assets/fonts/luca-icon.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url('/assets/fonts/luca-icon.svg') format("svg");
  }
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'luca-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-add:before {
  content: "\e901";
  color: #ccc;
}

.icon-ic-favorite:before {
  content: "\e900";
  color: #ccc;
  font-size: 20px;
}
.icon-ic-fullscreen_exit:before {
  content: "\e910";
  color: #ccc;
}
.icon-ic-apps:before {
  content: "\e912";
  color: #ccc;
}
.icon-ic-arrow_back:before {
  content: "\e902";
  color: #ccc;
}
.icon-ic-arrow_drop_down:before {
  content: "\e903";
  color: #ccc;
}
.icon-ic-arrow_drop_up:before {
  content: "\e904";
  color: #ccc;
}
.icon-ic-arrow_forward:before {
  content: "\e905";
  color: #ccc;
}
.icon-ic-check:before {
  content: "\e906";
  color: #ccc;
}
.icon-ic-chevron_left:before {
  content: "\e907";
  color: #ccc;
}
.icon-ic-chevron_right:before {
  content: "\e908";
  color: #ccc;
}
.icon-ic-close:before {
  content: "\e909";
  color: #ccc;
}
.icon-ic-edit_1:before {
  content: "\e90a";
  color: #ccc;
}
.icon-ic-edit_2:before {
  content: "\e90b";
  color: #ccc;
}
.icon-ic-expand_less:before {
  content: "\e90c";
  color: #ccc;
}
.icon-ic-expand_more:before {
  content: "\e90d";
  color: #ccc;
}
.icon-ic-export:before {
  content: "\e90e";
  color: #ccc;
}
.icon-ic-favorite_fill:before {
  content: "\e90f";
  color: #ccc;
}
.icon-ic-fullscreen:before {
  content: "\e911";
  color: #ccc;
}
.icon-ic-graphics-vizrules-s:before {
  content: "\e913";
}
.icon-ic-import:before {
  content: "\e914";
  color: #ccc;
}
.icon-ic-list:before {
  content: "\e915";
  color: #ccc;
}
.icon-ic-menu:before {
  content: "\e916";
  color: #ccc;
}
.icon-ic-more:before {
  content: "\e917";
  color: #ccc;
}
.icon-ic-refresh:before {
  content: "\e918";
  color: #ccc;
}
