/* =============================================================================
   Content Nav (objects/_content_nav.scss)
   ========================================================================== */


//
// Variables
// -----------------------------------------

$submenu-width: 400px;


.menu-open {
  .main-content-wrapper{
    width: 100%;
  }
}


.is-sticky {
  .o-sidebar-submenu {
    top: 58px !important;
    left: 0 !important;
    @include media($mobile) {
      top: 0 !important;
      min-width: 400px;
      left: 104px !important;
      position: fixed !important;
    }
  }
}

body {
  &.open {
    overflow: hidden;
    @include media($mobile) {
      overflow: auto;
    }
  }
}


.o-sidebar-submenu {
  transform: translate3d(-200%, 0, 0);
  border-right: 1px solid $grey03;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  @include position(absolute, 20px null null -20px);

  z-index: 100;
  height: 100vh;
  min-width: 100%;
  background: $white;
  transition: all 0.5s;
  display: none;
  overflow: auto;

  @include media($mobile) {
    min-width: $submenu-width;
    min-height: 100vh;
    @include position(absolute, 0 null null -24px);

  }

  .submenu-content {
    padding-top: 20px;
  }

  ul {
    @include media($mobile) {
      margin-top: 30px;
    }
  }

  &.uielements {
    .title {
      &:before {
        background-image: image-url("ic-uicomponents-blue.svg");
      }
    }
  }

  &.graphics {
    .title {
      &:before {
        background-image: image-url("ic-graphics-blue.svg");
      }
    }
  }

  &.resources {
    .title {
      &:before {
        background-image: image-url("ic-resources-blue.svg");
      }
    }
  }

  &.guidelines {
    .title {
      &:before {
        background-image: image-url("ic-guidelines-blue.svg");
      }
    }
  }

  .sidebar-title {
    display: flex;
    align-items: center;
    @include margin(20px null null 20px);
  }

  .title {
    @extend %txt-text-positive;
    @include margin(30px 30px null 15px);
    text-transform: uppercase;
    white-space: nowrap;

    &:before {
      content: '';
      @include size(55px);
      display: inline-block;
      vertical-align: middle;
      background-size: 70% auto;
      background-repeat: no-repeat;
      background-position: 30% 35%;
    }
  }

  .item {
    list-style: none;
    @include margin(10px null 10px null);
    display: block;
    white-space: nowrap;

    a {
      @include padding(10px 55px 10px 70px);
      position: relative;
      z-index: 1;
      transition: all 1s;
      &:hover, &.active {
        color: $blue;
      }

      &:after {
        content: '.';
        transition: all 0.5s;
        display: block;
        @include position(absolute, 0);
        @include size(1px, 100%);
        margin: auto;
        color: transparent;
        background: $grey03;
        visibility: none;
        opacity: 0;
        z-index: -1;
      }

      &:hover:after, &.active:after {
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
    }

    a {
      transition: $transition-slow;
      @extend %txt-text-positive;
      display: block;
    }
  }

  .close {
    cursor: pointer;
    @include position(absolute, 20px 30px null null);
    @include media($mobile) {
      @include position(absolute, 20px 20px null null);
    }

    svg {
      transition: $transition-slow;
    }

    &:hover {
      svg {
        fill: $blue;
      }
    }
  }
}

.content {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.main-content.menu-open .o-sidebar-submenu.active  {
	visibility: visible;
	transition: transform 0.5s;
	transform: translate3d(0, 0, 0);
  z-index: 999 !important;
}
.main-content.menu-open .main-content-wrapper .content {
  transform: translate3d(400px, 0, 0);
}
