/* =============================================================================
   GRID (objects/_grid.scss)
   ========================================================================== */

.main-content {
  .main-content-wrapper {
    padding: 40px 20px 0;
    @include media($mobile) {
      margin-left: 100px;
      padding: 0 80px 0 0;
    }
    .content-wrapper {
      display: flex;
      position: relative;
      @include media($mobile) {
        margin-left: 30px;
      }
    }
    .content {
      margin-bottom: 55px;
      transform: translate3d(0, 0, 0);
      max-width: 1920px;
      width: 100%;
      h1.bx--type-h1 {
        margin: 80px 0 24px;
        @include media($mobile) {
          margin: 70px 0 35px;
        }
      }
      .content-block {
        padding: 15px 0;
        max-width: 1400px;
        @include media($mobile) {
          padding: 35px 0;
        }
        h2.text {
          margin-bottom: 20px;
        }
      }
      .content-block-medium {
        max-width: 720px;
      }
      .description {
        margin-bottom: 70px;
      }
    }
    .text-group {
      .text {
        margin-bottom: 20px;
      }
    }
  }
  .content-top {
    @include margin(40px null null null);
  }
  .content-image {
    @include margin(60px null 60px null);
    svg {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

.video-content {
  margin: 50px 0;
  max-width: 1200px;
}

.flex-block {
  display: flex
}
.image-block {
  margin: 18px 0;
  display: block;
  @include media($mobile) {
    margin: 70px 0;

  }
  &.no-res {
    img {
      width: 100%;
      min-width: 100%;
      @include media($mobile) {
        width: auto;
        min-width: auto;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }
  h2 {
    margin-bottom: 35px;
  }
}

.visel {
  &.active {
    background-color: $grey03;
    position: fixed;
    opacity: .8;
    top: 70px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
  }
  @include media($mobile) {
    display: none;
    top: 0;
  }
}

.image-wide-50 {
  @include media($mobile) {
    width: 50% !important;
    height: 100%;
  }
}
