@charset "utf-8";

@import "vendors/normalize";
@import "base/mixins";

// Helpers
@import "helpers/font_face";

// Settings
@import "settings/colors";
@import "settings/variables";

// Vendors
@import "vendors/bourbon";

// Styling!
// 1. base/
@import "base/common";
@import "base/functions";
@import "base/extends";
@import "base/icons";

// 2. components/
@import "components/buttons";
@import "components/code_block";
@import "components/actions_downloads";
@import "components/spec_item";
@import "components/features_block";

// 3. layout/
@import "layout/logo";
@import "layout/sidebar";
@import "layout/footer";

// 4. objects/
@import "objects/home_nav";
@import "objects/search";
@import "objects/content_nav";
@import "objects/grid";
@import "objects/flexboxgrid";

// 5. elements/
@import "elements/lists";
@import "elements/tooltip";
@import "elements/typography";
@import "elements/tooltip_page";
@import "elements/heading";
@import "elements/flipper";
@import "elements/links";
@import "elements/images";

// 6. graphics/
@import "graphics/viz";

// 7. utilities/
@import "utilities/display";
@import "utilities/spacing";
@import "utilities/typography";
@import "utilities/gradients";
@import "utilities/flexbox";


// 8. pages/
@import "pages/errors";
@import "pages/home";
@import "pages/buttons";
@import "pages/layout";
@import "pages/typography";
@import "pages/tooltips";
@import "pages/adopting";
@import "pages/brand";
@import "pages/colors";

// 8. blocks/
@import "blocks/charts_type";
