@charset "utf-8";


// @import 'carbon-components/scss/globals/scss/styles.scss';
//
// @import "bourbon/bourbon";
@import "vendors/normalize";
@import "base/mixins";

// Helpers
@import "helpers/font_face";

// Settings
@import "settings/colors";
@import "settings/variables";


// Vendors
@import "vendors/c3.min";
@import "vendors/slick";

// Styling!
// 1. base/
@import "base/common";
@import "base/functions";
@import "base/extends";
@import "base/icons";

// 2. components/
@import "components/buttons";
@import "components/code_block";
@import "components/actions_downloads";
@import "components/spec_item";
@import "components/features_block";
@import "components/component_slider";
@import "components/remove_alerts";

// 3. layout/
@import "layout/logo";
@import "layout/sidebar";
@import "layout/footer";

// 4. objects/
@import "objects/home_nav";
@import "objects/search";
@import "objects/content_nav";
@import "objects/grid";
@import "objects/flexboxgrid";
@import "objects/tables";

// 5. elements/
@import "elements/lists";
@import "elements/tooltip";
@import "elements/typography";
@import "elements/tooltip_page";
@import "elements/heading";
@import "elements/flipper";
@import "elements/links";
@import "elements/images";
@import "elements/anatomy";

// 6. graphics/
@import "graphics/viz";

// 7. utilities/
@import "utilities/display";
@import "utilities/spacing";
@import "utilities/typography";
@import "utilities/gradients";
@import "utilities/flexbox";


// 8. pages/
@import "pages/errors";
@import "pages/home";
@import "pages/buttons";
@import "pages/layout";
@import "pages/typography";
@import "pages/tooltips";
@import "pages/adopting";
@import "pages/brand";
@import "pages/colors";
@import "pages/resources";
@import "pages/illustrations";
@import "pages/spacing";

// 9. blocks/
@import "blocks/charts_type";
@import "blocks/floating_feedback";
@import "blocks/onBoarding";

// 10. uielements/
@import "uielements/switch";
@import "uielements/custom_input";
@import "uielements/tabs";
@import "uielements/tabs_section";
@import "uielements/combobox";
@import "uielements/pills_bar";
@import "uielements/inputs";
@import "uielements/navigation_icons";
@import "uielements/info_navigation";
@import "uielements/accordion";
@import "uielements/zoom";
@import "uielements/pagination";
@import "uielements/popover";
@import "uielements/alerts";
@import "uielements/button_bar";
@import "uielements/modal";
@import "uielements/multi_select";
@import "uielements/cards";
@import "uielements/progress_indicators";
@import "uielements/date_picker";
@import "uielements/breadcrumb";
@import "uielements/button_dropdown";


// 11. charts/
@import "graphics/line_chart";
