//
// Icon Font: <%= font_name %>
//
@include font-face(<%= font_name %>, "../fonts/fontcustom/<%= font_name %>", $file-formats: svg eot ttf woff);
%custom-icon,
.<%= options[:class_name] %>:after,
.<%= options[:class_name] %>-before:before {
  display: inline-block;
  font-family: "<%= font_name %>";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  vertical-align: middle;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

.s-before:before {
  margin-right: 8px;
}

// [data-icon]:after { content: attr(data-icon); }

<% @glyphs.each do |name, value| %>
.s.s-<%= name.to_s %>:after {
  content: "\<%= value[:codepoint].to_s(16) %>";
}
<% end %>

<% @glyphs.each do |name, value| %>
.s-before.s-<%= name.to_s %>:before {
  content: "\<%= value[:codepoint].to_s(16) %>";
}
<% end %>

.<%= options[:class_name] %>-2x { font-size: 2em; }
.<%= options[:class_name] %>-3x { font-size: 3em; }
.<%= options[:class_name] %>-4x { font-size: 4em; }
.<%= options[:class_name] %>-5x { font-size: 5em; }

$icons: (
  <% @glyphs.each do |name, value| %> <%= name.to_s %>: "\<%= value[:codepoint].to_s(16) %>", <% end %>
);

// Mixin for adding icons to element without need of adding classes
@mixin icon($icon: false, $position: after, $styles: true) {
  // Either a :before or :after pseudo-element, default to :after
  &:#{$position} {
    @if $icon {
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      @extend %custom-icon;
    }
    // Include any extra rules supplied for the pseudo-element
    @content;
  }
}
