/* =============================================================================
   Brand (pages/_brand.scss)
   ========================================================================== */
.p-brand {
  picture:not(.row) {
    margin: 38px 0;
    display: block;
    @include media($tablet) {
      margin: 48px 0 72px;
    }

    .brand-item {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
      }
      @include media($tablet) {
        margin-bottom: 0;
      }
    }

    .logo-negative {
      margin-top: 40px;
      @include media($tablet) {
        margin-top: -32px;
      }
    }

    .brand-note {
      @extend %txt-legend;
      margin-bottom: 12px;
      display: block;
    }
  }
  picture {
    svg {
      margin-bottom: 30px;
      @include media($tablet) {
        margin-bottom: 0;
      }
    }
  }
  svg {
    width: 100%;
    @include media($mobile) {
      width: auto;
    }
  }
}
