/* =============================================================================
   BUTTONS (pages/_buttons.scss)
   ========================================================================== */

.p-buttons {
  .content-buttons {
    @include media($mobile) {
      padding-right: 55px;
    }
  }

  .content-buttons-block {
    .bx--type-h5 {
      margin-bottom: 25px;
      margin-left: 10px;
      text-align: left;
    }
    .bx--type-p {
      font-size: rem-calc(14);
      @include media($mobile) {
        text-align: left;
        margin-left: 15px;

      }
    }

    .c-btn {
      @include margin(10px null 45px null);
    }
  }

  .buttons-header {
    @include margin(60px null 60px null);
    .text-sizes {
      font-size: rem-calc(16);
      font-family: Telefonicabold;
      color: $grey01;
      margin-top: 10px;
    }

    .text {
      &.light {
        margin-top: 5px;
      }
    }
  }
}
