$colorPalette: (
  black: #000,
  grey: #333333,
  grey00: #f2f2f3,
  grey01: #e9eae8,
  grey02: #d3d4d3,
  grey03: #b6b7b7,
  grey04: #9d9d9e,
  grey05: #86888c,
  grey06: #606060,
  grey07: #4a4a4a,
  grey08: #333333,
  grey09: #606060,
  grey10: #f2f2f3,
  grey11: #dfe0e1,
  grey12: #f4f4f4,
  green00: #d1ede9,
  green01: #a3dcd3,
  green02: #75cbbd,
  green03: #47baa7,
  green04: #1aa992,
  green05: #148774,
  green06: #0f6557,
  green07: #0a433a,
  green08: #05211d,
  green09: #00ccaa,
  blue00: #cceefb,
  blue01: #99ddf8,
  blue02: #66ccf4,
  blue03: #33bbf1,
  blue04: #00aaee,
  blue05: #0088be,
  blue06: #00668e,
  blue07: #00445f,
  blue08: #00222f,
  yellow00: #fffccc,
  yellow01: #fff999,
  yellow02: #fff666,
  yellow03: #fff333,
  yellow04: #fff000,
  yellow05: #ccc000,
  yellow06: #999000,
  yellow07: #666000,
  yellow08: #333000,
  orange00: #ffe4cc,
  orange01: #ffc999,
  orange02: #ffaf66,
  orange03: #ff9433,
  orange04: #ff7a00,
  orange05: #cc6100,
  orange06: #994900,
  orange07: #663000,
  orange08: #331800,
  pink00: #ffccea,
  pink01: #ff99d6,
  pink02: #ff66c1,
  pink03: #ff33ad,
  pink04: #ff0099,
  pink05: #cc007a,
  pink06: #99005b,
  pink07: #66003d,
  pink08: #33001e,
  red: #f80000,
  viz01_1: #ff7a00,
  viz01_2: #ff0099,
  viz01_3: #fff000,
  viz01_4: #f80000,
  viz01_5: #00ccaa,
  viz02_1: #0066dd,
  viz02_2: #393999,
  viz02_3: #8600dd,
  viz02_4: #ff72ff,
  viz02_5: #60cccc,
  varient1_1: #cce0f8,
  varient1_2: #99c1f1,
  varient1_3: #66a3ea,
  varient1_4: #3384e3,
  varient1_5: #0066dd,
  varient1_6: #0051b0,
  varient1_7: #003d84,
  varient1_8: #002858,
  varient1_9: #011b40,
  varient2_1: #d7d7ea,
  varient2_2: #afafd6,
  varient2_3: #8888c1,
  varient2_4: #6060ad,
  varient2_5: #393999,
  varient2_6: #2d2d7a,
  varient2_7: #22225b,
  varient2_8: #16163d,
  varient2_9: #0d0c2b,
  varient3_1: #e6ccf8,
  varient3_2: #ce99f1,
  varient3_3: #b666ea,
  varient3_4: #9e33e3,
  varient3_5: #8600dd,
  varient3_6: #6b00b0,
  varient3_7: #500084,
  varient3_8: #350058,
  varient3_9: #240040,
  varient4_1: #ffe2ff,
  varient4_2: #ffc6ff,
  varient4_3: #ffaaff,
  varient4_4: #ff8eff,
  varient4_5: #ff72ff,
  varient4_6: #cc5bcc,
  varient4_7: #994499,
  varient4_8: #662d66,
  varient4_9: #4d1d4d,
  varient5_1: #dff4f4,
  varient5_2: #bfeaea,
  varient5_3: #9fe0e0,
  varient5_4: #7fd6d6,
  varient5_5: #60cccc,
  varient5_6: #4ca3a3,
  varient5_7: #397a7a,
  varient5_8: #265151,
  varient5_9: #1a393b
);

.p-colors {
  .palette-container {
    &.rounded {
      margin-top: 20px;
      @include media($mobile) {
        margin-top: 20px;
        margin-bottom: 50px !important;
      }

      .color-swatch {
        border-radius: 0;
        @include media($mobile) {
          border-radius: 50%;
        }
      }

      .swatches {
        margin-bottom: 20px;
        margin-right: 20px;

        p {
          font-size: rem-cal(18);
          text-align: center;
          @include media($mobile) {
            font-size: rem-cal(14);
          }
        }
      }
      &.border-color {
        .color-swatch {
          border: 1px solid #979797;
        }
      }
      &.viz-colors {
        .swatches {
          margin-right: 60px;
        }
      }
    }

    &.main-palette {
      .bx--type-h4 {
        font-size: rem-calc(10);
        margin-left: 46px;
        margin-bottom: 6px;
      }

      .color-swatch {
        @each $color, $value in ($colorPalette) {
          &.#{$color}[class*="_5"] {
            + .item {
              span {
                display: none;
              }
            }
          }
          &.#{$color}[class*="04"],
          &.#{$color}[class*="_5"] {
            border-radius: 0;
            @include media($mobile) {
              border-radius: 50%;
            }
            + .item {
              color: map-get($colorPalette, $color);
              order: -1;
              margin-top: -15px;
              font-family: Telefonicabold;

              span {
                @include position(absolute, -20px null null -260px);
                @include media($mobile) {
                  @include position(absolute, -19px null null -319px);
                }
              }

              &:before {
                content: "#{$value}";
                @include position(absolute, -15px null null 0);
                margin-top: -4px;
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
    }

    &.simple {
      margin-bottom: 0;
      padding: 0 10px;
      @include media($mobile) {
        padding: 0;
      }

      .container-flex {
        .swatches {
          .color-swatch {
            @include size(119px);
            @include media($mobile) {
              @include size(75px);
            }
          }
        }
      }

      h3 {
        text-align: left;
      }
    }

    h3 {
      margin: 0 0 10px;
      font-size: rem-calc(13);
      @extend %txt-note;

      span {
      }
    }
  }

  .swatches {
    margin-bottom: 42px;
    margin-right: 5px;
    position: relative;

    a {
      display: block;
    }

    .color-wrapper {
      &:last-child {
        display: none;
      }
    }

    p {
      @extend %txt-note;
      font-size: 10px;
      margin: 5px 0 2px;
    }
  }

  .color-swatch:nth-child(n + 7) {
    color: #fff;
  }

  .color-swatch {
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    transition: transform 0.2s;
    @include size(60px);
    @include media($mobile) {
      @include size(75px);
    }

    &:hover {
      transform: scale(0.9);
      cursor: pointer;
    }
    @each $color, $value in ($colorPalette) {
      &.#{$color} {
        background-color: map-get($colorPalette, $color);
        color: map-get($colorPalette, $color);

        + .item {
          content: "#{$value}";

          span {
            position: relative;
          }

          .percentage {
            display: block;
            margin: 5px 0 3px;
            font-family: Telefonicabold;
          }
        }
      }
    }
  }

  // TODO Refactor
  .color-usage {
    .blue-variant {
      .percentage {
        display: none !important;
      }
    }

    .percentage {
      margin-top: 20px !important;
    }

    .color-usage-content {
      margin: 20px 0;
      @include media($mobile) {
        margin: 120px 0;
      }
    }

    .item-color,
    h4 {
      display: none;
    }

    .color-swatch + .item {
      &:before {
        display: none;
      }
    }

    .green08 {
      + .item {
        .percentage {
          &:after {
            content: "Light and dark percentage";
            @include position(relative, 1px -92px null null);

            font-family: Telefonicaregular;
            font-size: rem-calc(12);
            white-space: pre;
            color: $grey06;
            text-transform: none;
          }
          &:before {
            display: inline-block;
            content: "";
            border-top: 0.1rem solid #dfdfdf;
            width: 3rem;
            @include position(absolute, 8px null null null);
            transform: rotate(0) translate(55px, 50%);
          }
        }
      }
    }

    .green04 {
      border-radius: 50px;
      &:after {
        content: "Primary";
        font-family: Telefonicaregular;
        font-size: rem-calc(12);
        color: $grey06;
        @include position(relative, -146px null null 18px);
      }

      &:before {
        display: inline-block;
        content: "";
        border-top: 0.1rem solid #dfdfdf;
        width: 3rem;
        margin: 30px 15px;
        transform: rotate(90deg) translate(-130%, 50%);
      }
    }

    .blue06 {
      border-radius: 50px;
      &:after {
        content: "Variant";
        font-family: Telefonicaregular;
        font-size: rem-calc(12);
        color: $grey06;
        @include position(relative, 72px null null 19px);
      }

      &:before {
        display: inline-block;
        content: "";
        border-top: 0.1rem solid #dfdfdf;
        width: 3rem;
        margin: 30px 15px;
        transform: rotate(90deg) translate(165%, 50%);
      }
    }
  }
}
