/* =============================================================================
   HOME (pages/_home.scss)
   ========================================================================== */

.homepage {
  @include media($mobile) {
    overflow-y: hidden;
  }
}

.p-homepage {
  overflow: hidden;
  height: 100%;
  @include media($small-desktop) {
    padding: 0 80px;
    display: flex;
    align-items: center;
    height: 40vh;
  }

  .homepage-content {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0 45px;
    min-width: 100%;
    margin-top: 20px;
    @include media($medium-desktop) {
      align-items: center;
    }
    @include media($tablet) {
      flex-direction: row;
    }
    @include media($mobile) {
      padding: 0;
      margin-top: 0;
    }

    .header {
      @include media($large-desktop) {
        min-width: 500px;
        padding-right: 50px;
      }
    }

    .home-image {
      display: none;
      order: -1;
      right: 0;
      @include media($large-desktop) {
        width: auto;
        right: 60px;
      }
      @include media($tablet) {
        order: 1;
        margin: 0;
      }
      @include media($mobile) {
        position: relative;
        margin: 50px 0;
        display: block;
        width: 100%;
      }

      svg {
        max-width: 900px;
        width: 70%;
        height: 100%;
        @include media($small-desktop) {
          width: 100%;
          height: 100%;
        }
      }
    }

    .title {
      margin: 0 0 15px;
    }

    .text {
      margin-top: 25px;
      max-width: 330px;
      @include media($large-desktop) {
        max-width: 500px;
      }
      @include media($mobile) {
        margin-top: 36px;
      }
    }
  }

  .logo {
    max-width: 100%;
    height: 18.75em;

    .body {
      stroke: $grey;
      fill: $white;
      fill-opacity: 1;
    }
  }
}

.home-features {
  a {
    color: $grey;

    &:hover {
      text-decoration: underline;
    }
  }
}
