/* =============================================================================
   LAYOUT (pages/_layout.scss)
   ========================================================================== */

.layout-structure {
  .col-xs-12 {
    margin-bottom: 30px;
    @include media($medium-desktop) {
      margin-bottom: 0;
    }
  }
  .col-center {
    text-align: center;
    @include media($mobile) {
      text-align: left;
    }
  }
}

.legend-item {
  margin-bottom: 10px;
  margin-left: 0;
  @include media($tablet) {
    margin-bottom: 0;
  }
  .bx--type-p {
    font-size: 14px;
    @include media($mobile) {
      font-size: rem-calc(16px);
    }
  }
  span {
    @include size(10px);
    @include margin(null 10px null null);
    border-radius: 50%;
    @include media($tablet) {
      @include size(20px);
    }
  }

  .search-bar {
    background: $purple;
  }

  .app-nav {
    background: tint($purple, 50%);
  }

  .main-nav {
    background: $pink01;
  }

  .content-l {
    background: $light-blue;
  }
}
