.lds-resources {
  border-bottom: 1px dashed #979797;
  &.open {
    .lds-resources__title {
      &:before {
        transform: rotate(90deg);
      }
    }
  }
  &__title {
    @extend %txt-title-h5;
    color: $blue;
    padding-bottom: 18px;
    margin-top: 22px;
    display: block;
    cursor: pointer;
    &:before {
      content: "\e907";
      font-family: 'luca-icon';
      font-weight: bold;
      font-size: rem-calc(18);
      transition: $transition-slow;
      transform: rotate(-90deg);
      display: inline-block;
      margin-right: 10px;
      position: relative;
      top: 4px;
    }

  }
  &__content {
    margin-top: 20px;
    display: none;
    .col-xs-6 {
      padding-bottom: 20px;
    }

  }
  &__subtitle {
    @extend %txt-paragraph;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  li {
    list-style: none;
    margin-bottom: 24px;
    &:before {
      content: "";
      margin-right: 6px;
      padding: 12px;
      background-repeat: no-repeat;
      background-position: center;

    }
    &.Adobe {
      &:before {
        background-image: url('../images/ic-doc-ai.svg');
        background-size: 19px auto;
      }
    }
    &.PDF {
      &:before {
        background-image: url('../images/ic-doc-pdf.svg');
        background-size: 19px auto;
      }
    }
    &.Font {
      &:before {
        background-image: url('../images/ic-typo_02.svg');
        background-size: 21px auto;
      }
    }
    &.sketch {
      &:before {
        background-image: url('../images/ic-sketch_02.svg');
        background-size: 22px auto;
      }
    }
    &.ZIP {
      &:before {
        background-image: url('../images/ic-doc-zip.svg');
        background-size: 19px auto;
      }
    }

    [a*="pdf"] {
      text-transform: uppercase;

    }

    a {
      @extend %txt-links-positive;
      color: $blue;
      text-decoration: none;

    }

  }
}

.download-ppt {
  display: inline-block;
  padding-bottom: 30px;
  margin-top: 20px;
}

.ppt-file {
  line-height: 35px;
  &:after {
    content: '';
    background: url('../images/icons/ic-doc-ppt.svg') no-repeat;
    background-size: 40px auto;
    padding: 22px;
    float: left;
    margin-right: 5px;
  }
}
.resources-inner {
  .lds-resources {
    border-bottom: none;
    &__title {
      display: none;
    }
    &__content {
      display: block;
    }
  }
}
