.spacing-table {
  max-width: 405px;
  margin-bottom: 45 px;
  &__header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
    > p:last-child {
      flex: 0 0 30%;
    }
  }
  &__content {
  }
  &__item {
    border-bottom: 1px solid #e9eae8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .px {
      p {
        font-size: rem-calc(14);
      }
    }
    .example {
      padding: 12px 0;
      flex: 0 0 30%;
      & > div {
        background: $blue;
      }
      @for $i from 1 through 66 {
        $size: $i * 3 / 3;
        .example-#{$i} {
          height: $size + px;
          width: $size + px;
        }
      }
    }
  }
}
