/* =============================================================================
   TYPOGRAPHY (pages/_typography.scss)
   ========================================================================== */

.p-typography {
  .font-weights-wrapper {
    .big-font {
      font-size: rem-calc(110);
      font-family: Telefonicaregular;
    }
  }

  .content-block {
    .bx--type-h1 {
      margin: 0 !important;
    }
  }

  .column {
    margin-bottom: 25px;
  }

  .font-weigths {
    margin-bottom: 50px;
    @include margin(30px null 40px null);
    .bx--type-p {
      margin-bottom: 10px;
    }
    .fonts {
      font-size: rem-calc(24);
      line-height: rem-calc(32);
      &.extralight {
        font-family: Telefonicaextralight;
      }
      &.light {
        font-family: Telefonicalight;
      }
      &.regular {
        font-family: Telefonicaregular;
      }
      &.bold {
        font-family: Telefonicabold;
      }
    }
  }
}
