.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.chart01 {
  margin: 50px;

  .toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
  }

  text {
    font-family: Telefonicaregular;
    font-size: 12px;
    color: white;

    &.label {
      color: $grey;
    }

    &.value {
      font-size: 14px;
      fill: white;
    }
  }

  .axisHorizontal path {
    fill: none;
  }

  .axisHorizontal .tick line {
    stroke-width: 1;
    stroke: rgba(0, 0, 0, 0.2);
  }

  .bar {
    fill: $blue;
    fill-opacity: 0.9;
  }
}

.chart02 {
  .arc text {
    font: 10px sans-serif;
    text-anchor: middle;
  }

  .arc path {
    stroke: #fff;
  }

  .toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
  }
}

.chart03 {
  .y.axis path {
    display: none;
  }

  .y.axis line {
    stroke: #fff;
    stroke-opacity: 0.2;
    shape-rendering: crispEdges;
  }

  .y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
  }

  .title {
    font: 300 78px Helvetica Neue;
    fill: #666;
  }

  .age,
  .birthyear {
    text-anchor: middle;
  }

  .birthyear {
    fill: #fff;
  }

  rect {
    fill-opacity: 0.6;
    fill: #e377c2;
  }

  rect:first-child {
    fill: #1f77b4;
  }
}


.bx--graph-header {
    font-weight: 300;
    font-size: 24px;
}

.bx--graph-overlay {
    fill: #3d70b2;
    opacity: .1;
    display: none;
    pointer-events: none;
}

.bx--line {
    stroke-width: 2;
    stroke: #00a68f;
    fill: none;
    pointer-events: none;
}

.bx--axis path {
    stroke: #5A6872;
}

.tick line {
    stroke: #5A6872;
}

.tick text {
    fill: #5A6872;
}

.bx--graph-container {
    position: relative;
}

.bx--tooltip {
    display: none;
    font-weight: 700;
    padding: .25rem .5rem;
    pointer-events: none;
}

.bx--axis--y path {
    display: none;
}

.bx--graph-label {
    font-size: 10px;
    font-weight: 700;
    fill: #5A6872;
    text-anchor: middle;
}


  .hgroup {
    float: left;
    text-align: left;
    h4 {
      color: $grey;
      font-family: Telefonicabold;
    }

    h5 {
      color: $grey;
      font-family: Telefonicaregular;

    }
  }

  .viz-container {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    &.switch {
      bottom: 20px;
      height: 202px;

      .legend {
        bottom: 0;
      }
    }
  }

  // TODO: Refactor
  .viz-box {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #d1d1d1;
    padding: 10px 20px 40px;
    position: relative;
    height: 390px;
    .bubble {
      bottom: 50px !important;
    }
    .c3, canvas, .bubble {
      position: absolute !important;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    > * {
      transition: $transition-slow;
    }
    .title {
      margin-bottom: 0;
    }
    .subtitle {
      @extend %txt-paragraph;
    }

    &.example {
      border: none;
      box-shadow: none;
    }
    &.disabled {
      > :not(.lds-info-navigation) {
      opacity: .5;
      }
    }

    &.viz-box__wide {
      flex-basis: 100%;
      max-width: 100%;
    }

    &.last-child {
      margin-right: 0;
    }

    .data-container {
      > div {
        display: inline-block;
      }
    }

    .data-container {
      position: absolute;
      right: 20px;
      top: 40px;
    }

    .data {
      text-align: left;
      margin-top: 50px;

      p {
        margin: 0 0 5px;
        font-family: Telefonicaregular;
        color: #4A4A4A;

        &.strong {
          font-family: Telefonicabold;
          font-size: 14px;
        }

        &.number {
          font-family: Telefonicalight;
          font-size: 18px;
          margin-bottom: 30px;
        }
      }
    }

    .btn {
      position: absolute;
      right: 20px;
      top: 15px;
    }

    svg {
      overflow: initial;
      display: block;
    }

    .pie_legend {
      text-align: center;
      li {
        display: inline-block;
        list-style: none;
        text-transform: none;
        color: #54565B;
        @extend %txt-notes-positive;
      }
    }
  }


.legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  li {
    font-family: Telefonicaregular;
    font-size: rem-calc(13);
  }

  .circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 5px;
    &__simple {
      width: 10px;
      height: 10px;
    }
    &__large {
      width: 20px;
      height: 10px;
      &-bar {
      background-image: linear-gradient(to left, #0088cc, #00aaee 50%, #99f8dd);
      }
      &-line {

      }
    }
  }

  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    font-size: 13px;
    cursor: pointer;

    span {
      color: #4a4a4a;
    }
  }
}

.switch-content {
  transform: translateX(-100%);
  animation: slideout 0.5s forwards;
  position: absolute;
  width: 100%;

  &.paused {
    animation: none;
    transform: translateX(0%);
  }

  &.active {
    display: block;
    animation: slidein 0.5s forwards;
    width: 100%;
  }
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.chart-container {
  position: relative;
  margin-top: 90px;
}
@keyframes slidein {
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideout {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
