/* =============================================================================
   COMMON (base/_common.scss)
   ========================================================================== */
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-size: rem-calc(14) !important;
}

ul {
  -webkit-padding-start: 0;
}

.text-left {
  text-align: left !important;
}

.uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include media($mobile) {
    flex-direction: row;
  }

  &.single-column {
    align-items: center;

    > * {
      margin: 0 40px 0 0;
      @include media($small-desktop) {
        margin: 0 10px 0 0;
      }
    }
  }

  &.column {
    flex-wrap: wrap;
    align-items: center;

    > * {
      flex: 0 0 48%;
      margin-bottom: 40px;

      &:nth-child(2n+2) {
        margin-left: 30px;
      }
    }
  }

  &.row {
    padding: 0 25px;

    > * {
      margin: 0 20px;
    }
  }

  .image {
    flex: 1;
  }
}

.toTop {
  opacity: 0;
  transition: $transition-slow;
  cursor: pointer;
  z-index: 9999;
  &:hover {
    background-color: $grey03;
    .progressScroll-circle {
      .ico {
        color: $blue;
      }
    }
  }
  &.visible {
    opacity: 1;
  }
  .progressScroll {
    right: 20px;
    bottom: 50px;
    @include media($mobile) {
      @include position(fixed, null 20px 30px null);
    }
  }
  .progressScroll-circle {
    .ico {
      font-size: 22px;
      color: $grey05;
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%) rotate(90deg);
      transition: $transition-slow;
    }
  }
}

.image-wide {
  width: 100%;
  height: 100%;
  max-width: 100%;
}
//refactor to-do
.graph-wrapper {
  border: 1px solid #DFDFDF;
  padding: 0;
  display: inline-block;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  width: 100%;
  @include media($mobile) {
    width: auto;
  }

  .graph-header {
    padding: 30px 45px;

    p {
      @extend %txt-note;
      width: 600px;
    }
  }
}

.highlight {
  font-size: 16px;
  line-height: 20px;
  font-family: Telefonicaregular;
}
// Examples
.two--col-bg {
  background: image-url('uicomponents/2-col-bg.svg') repeat-y;
  background-size: 100% auto;
  @include media($mobile) {
    background-size: auto;
  }
}

.four--col-bg {
  background: image-url('uicomponents/4-col-bg.svg') repeat-y;
  background-size: 100% auto;
  @include media($mobile) {
    background-size: auto;
  }
}

.six--col-bg {
  background: image-url('uicomponents/6-col-bg.svg') repeat-y;
  background-size: 100% auto;
  @include media($mobile) {
    background-size: auto;
  }
}

.eight--col-bg {
  background: image-url('uicomponents/8-col-bg.svg') repeat-y;
  background-size: 100% auto;
  @include media($mobile) {
    background-size: auto;
  }
}

.examples-layout {
  .example-item {
    margin-bottom: 20px;
    @include media($mobile) {
      margin-bottom: 50px;
    }

    .example-mobile {
      padding-left: 0;
      margin-bottom: 20px;
      @include media($mobile) {
        width: 205px;
        margin-bottom: 0;
      }
      &.u-pl-6 {
        padding-left: 0;
        @include media($mobile) {
          padding-left: 40px;
        }
      }


      &.mobile-text {
        .bx--type-label {
          font-size: 12px;
        }
      }
    }

    .example-tablet {
      width: 100%;
      margin-bottom: 20px;
      @include media($mobile) {
        width: 448px;
        margin-bottom: 0;
      }
    }

    .example-desktop {
      width: 100%;
      @include media($mobile) {
        width: 931px;
      }
    }

    .example-desk {
      &.u-pl-4 {
        padding-left: 0;
        // @include media($tablet) {
        //   padding-left: 20px;
        // }
      }

      &.u-pl-5 {
        padding-left: 0;
        @include media($mobile) {
          padding-left: 30px;
        }
      }

      &.example-pills {
        width: 600px;
      }
    }

    .row {
      margin: 0;
      padding: 10px 0;
      min-height: 150px;

      > div {
        &:first-child {
          padding: 0;
        }
      }
    }

    .example-tab {
      padding-right: 12px;
      // .lds--custom-input {
      //   width: 210px;
      // }
    }

    .lds-button--bar {
      width: 100%;
    }
  }

  h3 {
    margin-bottom: 10px;
  }

  .bx--type-legend {
    margin-bottom: 10px;
  }

  &.pills {}
}

.module-anatomy {
  @include media($mobile) {
    margin-top: 150px;
  }
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  @include media($mobile) {
    margin-top: 90px;
  }

  > div {
    &:after,
    &:before {
      font-family: 'luca-icon';
      font-size: 14px;
      color: $grey;
    }
  }

  &__previous,
  &__next {
    display: flex;
    align-items: center;
    &:hover {
      color: $blue;
    }
    &:before, &:after {
      margin-top: 4px;
    }
  }

  &__previous {
    &:before {
      content: "\e907";
      margin-right: 2px;
    }
  }

  &__next {
    &:after {
      content: "\e907";
      transform: rotate(180deg);
      margin-left: 2px;
    }
  }

  a {
    @extend %txt-links-positive;
    color: $grey !important;

    &:hover {
      color: $blue !important;

      &:before {
        background: $blue !important;
      }
    }
  }
}
