
/* =============================================================================
   COMMON (base/_common.scss)
   ========================================================================== */

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-size: rem-calc(14) !important;
}

ul {
  -webkit-padding-start: 0;
}

.text-left {
  text-align: left !important;
}

.uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include media($mobile) {
    flex-direction: row;
  }
  &.single-column {
    align-items: center;
    > * {
      margin: 0 40px 0 0;
      @include media($small-desktop) {
      margin: 0 10px 0 0;
      }
    }
  }
  &.column {
    flex-wrap: wrap;
    align-items: center;
    > * {
      flex: 0 0 48%;
      margin-bottom: 40px;
      &:nth-child(2n+2) {
        margin-left: 30px;

      }
    }
  }
  &.row {
    padding: 0 25px;
    > * {
      margin: 0 20px;
    }
  }
  .image {
    flex: 1;
  }
}

.toTop {
  background: none;
  margin: 0;
  @include position(fixed, null 20px 50px null);
  @include size(40px);
  line-height: 38px;
  text-align: center;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: $white;
  background-color: $grey02;
  border-radius: 5px;
  transition: $transition-slow;
  @include media($mobile) {
    @include position(fixed, null 70px 30px null);
  }
  svg {
    transition: $transition-slow;
    fill: $white;
  }
  &:hover {
    background-color: $grey03;
    svg {
      fill: $blue;
    }
  }
}

.image-wide {
  width: 100%;
  height: 100%;
  max-width: 100%
}

//refactor to-do
.graph-wrapper {
  border: 1px solid #DFDFDF;
  padding: 0;
  display: inline-block;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  width: 100%;
  @include media($mobile) {
    width: auto;
  }
  .graph-header {
    padding: 30px 45px;
    p {
      @extend %txt-note;
      width: 600px;
    }
  }
}

.highlight {
  font-size: 14px;
  font-family: Telefonicaregular;
}


// Examples


.two--col-bg {
  background: image-url('uicomponents/2-col-bg.svg') repeat-y;
}

.four--col-bg {
  background: image-url('uicomponents/4-col-bg.svg') repeat-y;
}

.six--col-bg {
  background: image-url('uicomponents/6-col-bg.svg') repeat-y;
}
.eight--col-bg {
  background: image-url('uicomponents/8-col-bg.svg') repeat-y;
}

.examples-layout {
  margin-top: 50px !important;
  .example-item {
    margin: 50px 0;
    .example-mobile {
      @include media($mobile) {
        width: 205px;

      }
      &.mobile-text {
        .bx--type-label {
          font-size: 12px;
        }
      }
    }
    .example-tablet {
      width: 448px;
    }
    .example-desktop {
      width: 931px;
    }
    .example-desk {
      &.example-pills {
        width: 600px;
      }
    }
    .row {
      margin: 0;
      padding: 10px 0;
      min-height: 150px;
      > div {
        &:first-child {
          padding: 0;
        }
      }
    }

    .example-tab {
      padding-right: 12px;
      // .lds--custom-input {
      //   width: 210px;
      // }
    }
    .lds-button--bar {
      width: 100%;
    }
  }
  h3 {
    margin-bottom: 10px;
  }
  .bx--type-legend {
    margin-bottom: 10px;
  }
  &.pills {

  }
}

.module-anatomy {
  margin-top: 150px;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  a {
    @extend %txt-links-positive;
    color: $grey;
    &:after {
      font-family: fontcustom;
      font-size: 10px;
      display: inline-block;
    }
    &.next {
      &:before {
        margin-right: 20px;
      }
      &:after {
        content: "\f168";
        transform: rotate(180deg);
        margin: 5px 5px 0;
      }
    }
    &.previous {
      &:before {
        left: 25%;
      }
      &:after {
        content: "\f168";
        float: left;
        margin: 6px 5px 0;
      }
    }
  }
}
