
/* =============================================================================
   COMMON (base/_common.scss)
   ========================================================================== */

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-size: rem-calc(14) !important;
}

ul {
  -webkit-padding-start: 0;
}

.text-left {
  text-align: left !important;
}

.uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include media($mobile) {
    flex-direction: row;
  }
  &.single-column {
    align-items: center;
    > * {
      margin: 0 40px 0 0;
      @include media($small-desktop) {
      margin: 0 10px 0 0;
      }
    }
  }
  &.column {
    flex-wrap: wrap;
    align-items: center;
    > * {
      flex: 0 0 48%;
      margin-bottom: 40px;
      &:nth-child(2n+2) {
        margin-left: 30px;

      }
    }
  }
  &.row {
    padding: 0 25px;
    > * {
      margin: 0 20px;
    }
  }
  .image {
    flex: 1;
  }
}

.toTop {
  background: none;
  margin: 0;
  @include position(fixed, null 20px 50px null);
  @include size(40px);
  line-height: 38px;
  text-align: center;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: $white;
  background-color: $grey02;
  border-radius: 5px;
  transition: $transition-slow;
  @include media($mobile) {
    @include position(fixed, null 70px 30px null);
  }
  svg {
    transition: $transition-slow;
    fill: $white;
  }
  &:hover {
    background-color: $grey03;
    svg {
      fill: $blue;
    }
  }
}

.image-wide {
  width: 100%;
  height: 100%;
  max-width: 100%
}

//refactor to-do
.graph-wrapper {
  border: 1px solid #DFDFDF;
  padding: 0;
  display: inline-block;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
  .graph-header {
    padding: 30px 45px;
    p {
      @extend %txt-note;
      width: 600px;
    }
  }
}
