$white: #fff;
$black: #000;

$grey: #4a4a4a;
$grey01: #999;
$grey02: #d8d8d8;
$grey03: #f2f2f2;

$grey04: #676767;
$grey05: #4a4a4a;

$grey06: #9b9b9b;

$grey07: #ccc;

$grey08: #50535a;

$tags: #004466;
$tags-hover: #006699;

$blue: #00aaee;
$light-blue: #dff5f5;
$green: #00ccaa;
$yellow: #fff000;
$orange: #ff7a00;
$pink: #ff0099;
$red: #f80000;
$purple: #854d9f;
$pink01: #ff77ff;

$body-color: $white;
$primary-color: $blue;
$secondary-color: $green;

$baseColors: (
  grey: #4a4a4a,
  grey01: #999,
  grey02: #d8d8d8,
  grey03: #f2f2f2,
  grey04: #676767,
  blue: #00aaee,
  light-blue: #dff5f5,
  green: #00eeaa,
  pink01: #ff77ff,
  yellow: #fff000,
  orange: #ff7a00
);

// @function colorMap($baseColors, $variations) {
//   $colors:();
//
//   @each $color, $value in $baseColors {
//     $maxVar: 35;
//     $mid: $variations / 2;
//     $dist: $mid - 1;
//     $step: $maxVar / $dist;
//
//     // lighten and darken
//     @for $i from 1 through $dist {
//       $percent: $maxVar - ($step * ($i - 1));
//       $darken: ($variations - $i) * floor(0.20 * 100);
//       $lighten: $i * floor(0.20 * 100);
//
//       $colors: map-merge($colors, (
//          #{$color}-#{$lighten}: lighten($value, $percent),
//          #{$color}-#{$darken}:  darken($value, $percent)
//       ));
//     }
//
//     // middle eg 500
//     $colors: map-merge($colors, (#{$color}-100.0: lighten($value, 38.7)));
//     $colors: map-merge($colors, (#{$color}-#{$variations/2*floor(0.20 * 100)}: $value));
//   }
//
//   @return $colors;
// }
//
// @each $color, $value in colorMap($baseColors, 10) {
//
//   @if (str-index($color, '-100')){
//     .#{$color} {
//       + p {
//         &.color {
//         color: $value;
//         display: block;
//         }
//         + p {
//           display: none
//         }
//       }
//     }
//   }
//
//   .#{$color} {
//     background-color: $value;
//     + p {
//       &.color {
//         &:after {
//           content: '#{$value}';
//         }
//       }
//     }
//   }
//
//   h3.#{$color} {
//     background: none;
//     color: $value !important;
//     text-transform: uppercase;
//     margin-bottom: 10px;
//     font-size: 13px;
//     span {
//       color: $grey;
//       margin-left: 10px;
//     }
//     &:before {
//       content: '#{$value}';
//     }
//   }
// }
