/* =============================================================================
   Charts Type (blocks/_charts_type.scss)
   ========================================================================== */
//
// Variables
// -----------------------------------------
$flipper-width: 300px;

.b-charts-type {
  margin-top: 66px;

  .e-flipper {
    .bx--type-h4 {
      color: $grey01;
      text-align: left;
      transition: $transition-slow;
    }

    .back,
    .front {
      margin-top: 18px;
      top: 0;
      border-radius: 2px;
      box-shadow: 0 0 4px 0 #ccc;
    }

    .front {
      width: 100%;
      padding: 45px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        @include size(100%);
        padding: 20px;
      }
      @include media($mobile) {
        @include size(100%, 187px);
      }
    }

    .back {
      @include size(100%, 253px);
      padding: 24px 0 0;
      display: block;

      .functions {
        margin-top: 20px;
      }

      .header {
        flex-direction: column;
        padding: 0 20px;

        .text {
          font-size: rem-calc(14);
          line-height: 20px;
        }

        .more-link {
          color: $blue;
        }

        .e-list {
          margin: 0 20px;

          li {
            line-height: 20px;
            font-size: rem-calc(14);
          }
        }
      }
    }

    .item {
      height: $flipper-width;
      margin-bottom: 0;
      flex: none;
      height: 200px;
      @include media($mobile) {
        margin-bottom: 75px;
        height: 250px;
      }

      &:hover {
        .bx--type-h4 {
          color: $blue;
        }
      }
    }
  }
}


.og-grid {
  > li {
    height: 350px;
    list-style: none;
    &.og-expander {
      margin-bottom: 20px;
      .flipper {
        .front {
          transform: rotateY(180deg);
        }

        .back {
          transform: rotateY(0);
        }
      }
    }
  }
}

.og-grid li > a,
.og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
}

.og-grid .og-expanded .item::after {

  border: solid transparent;
  content: " ";
  @include size(0);
  @include position(absolute, auto null null 50%);
  pointer-events: none;
  border-bottom-color: $grey03;
  border-width: 15px;
  margin: -10px 0 0 -15px;
}

.og-expander {
  @include position(absolute, auto null null 0);
  @include size(100%, 0);
  background: $grey03;
  max-width: 1200px;
  margin-top: 147px;
  margin-left: 0;
  text-align: left;
  overflow: hidden;
  @include media($mobile) {
    margin-top: 20px;
  }
}

.og-expander-inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  @include media($tablet) {
    padding: 50px 50px 0;
    flex-direction: row;
  }
}

.og-close {
  @include position(absolute, 20px 20px null null);
  @include size(40px);
  cursor: pointer;
}

.og-close::after,
.og-close::before {
  content: '';
  @include position(absolute, 50% null null null);
  @include size(100%, 1px);
  background: #888;
  transform: rotate(45deg);
}

.og-close::after {
  transform: rotate(-45deg);
}

.og-close:hover::after,
.og-close:hover::before {
  background: #333;
}

.og-details {
  align-self: flex-start;
  order: -1;
  @include media($tablet) {
    padding: 0 40px 0 20px;
    order: 1;
  }
  a {
    @extend %txt-links-positive;
    margin-top: 20px;
  }
}

.og-fullimg {
  margin: 0;
  padding: 50px 100px;
  display: none;
  @include media($tablet) {
    margin-top: 60px;
    margin-right: 40px;
    padding: 0;

  }
  @include media($mobile) {
    display: block;
  }
}

.og-fullimg img {
  max-width: 100%;
}

.og-details h3 {
  font-weight: 300;
  font-size: 52px;
  padding: 40px 0 10px;
  margin-bottom: 10px;
  @extend .bx--type-h4;
  font-size: rem-calc(20);
  @include media($mobile) {
    font-size: rem-calc(30);
  }
  @include media($tablet) {
    font-size: rem-calc(52);
  }
}

.og-details p {
  @extend .bx--type-p;
  font-size: rem-calc(14);
  @include media($mobile) {
    font-size: rem-calc(16);
  }
}

.og-details a {

}

.og-loading {
  @include size(20px);
  @include position(absolute, 50% null null 50%);
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  margin: -25px 0 0 -25px;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  0% {
    background: #ddd;
  }

  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
  }

  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
  }
}
@-moz-keyframes loader {
  0% {
    background: #ddd;
  }

  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
  }

  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
  }
}
@keyframes loader {
  0% {
    background: #ddd;
  }

  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd;
  }

  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc;
  }
}
