.lds-alert {
  border-radius: 4px;
  background-color: $white;
  box-shadow: 0 0 4px 0 $grey07;
  text-align: left;
  padding: 8px 10px 15px 24px;
  position: relative;
  @include media($mobile) {
    width: 346px;
    min-height: 75px;
  }
  &.alert-with__icon {
    display: flex;
    min-height: auto;
    padding: {
      top: 14px;
      bottom: 14px;
    }
    &:before {
      content: url(/assets/images/icons/ic-alert.svg);
      margin-right: 10px;
      display: inline-block;
    }
  }
  &__title {
    @extend %txt-subtitle-h2-bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex: 1;

    &:before {
      content: '';
      @include size(18px);
      border-radius: 4px;
      margin-right: 10px;
      display: inline-block;
    }
  }

  &__date {
    @extend %txt-small;
    margin-right: 8px;
  }

  &__heading {
    display: flex;
    align-content: center;
  }

  &.alert-default {
    .lds-alert__title {
      &:before {
        background: $blue;
      }
    }
  }

  &.alert-primary {
    .lds-alert__title{
      &:before {
        background: $pink;
      }
    }
  }

  &.alert-secondary {
    .lds-alert__title {
      &:before {
        background: $green;
      }
    }
  }

  .bx--type-p {
    font-size: rem-calc(14);
  }

  .close {
    border: none;
    background: image-url('ic-close-d3.svg') no-repeat;
    background-size: 11px auto;
    cursor: pointer;
    margin-left: 10px;
    height: 11px;
    margin-top: 5px;
  }
}

.lds-card-notification {
  width: 275px;
  position: relative;
  z-index: 99999;
  .lds-card-triangle {
    @include css-triangle('#000', 'up');
    left: auto;
    right: 8%;
    z-index: 1;
  }
  &__content {
    background: $white;
    box-shadow: 0 0 4px 0 $grey07;
    border-radius: 4px;
  }
  &__title {
    @extend %txt-subtitle-h2-bold;
    padding: 12px;
    color: $grey01;
    position: relative;
    z-index: 9999;
    background: $white;
    border-radius: 4px;

  }
  &__item {
    padding: 12px 12px;
    border-bottom: 1px solid #f5f5f5;
    &.new-notification {
      background: #f8f8f8;
    }
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    &__title {
      h2 {
      @extend %txt-subtitle-h2-bold;
      text-transform: uppercase;
      margin-bottom: 8px;
      margin-top: 5px;
      display: flex;
      align-items: center;
      flex: 1;
      &:before {
        content: '';
        @include size(18px);
        border-radius: 4px;
        margin-right: 10px;
        display: inline-block;
      }
      &.title-alert {
        &:before {
          background: $pink;
        }
      }
      &.title-notification {
        &:before {
          background: $blue;
        }
      }
    }
    }
    &__date {
      p {
        @extend %txt-small;
        margin-right: 8px;
      }

    }
  }
  .card-text {
    p {
      font-size: rem-calc(14);
    }

  }
}




.multiple-alert {
  &__content {
    height: 150px;

    .lds-alert {
      position: absolute;


    }
  }
}

.alert-example {
  margin-bottom: 30px;
  @include media($tablet) {
    margin-bottom: 0;
  }
}

.alerts-legend {
  .lds-alert {
    border-radius: 0;
    box-shadow: none;
    &.alert-yellow {
      .lds-alert__title  {
        &:before {
          background: $yellow;
        }
      }
    }
    &__title {
      margin-bottom: 0;
      margin-top: 0;
      &:before {
        @include size(30px);
        position: relative;
        top: 10px;
        margin-right: 20px;
      }
    }
    p {
      margin-left: 50px;
    }
  }
}
