$css--font-face: true !default;
$css--helpers: true !default;
$css--body: true !default;
$css--use-layer: true !default;
$css--reset: true !default;
$css--typography: true !default;
$css--plex: true !default;

.lds-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 3px;

    span {
      position: relative;
    }
    a {
      @extend %txt-note;
      color: #86888c;
      transition: $transition-slow;
      display: block;
      &:hover {
        color: $blue;
      }
    }
    &:after {
      content: "/";
      color: #86888c;
      margin-left: 3px;
      margin-top: 5px;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
    &.hover {
      a {
        color: $blue;
      }
    }
    .bx--overflow-menu__trigger {
      border: none;
      background: none;
      width: auto;
      height: auto;
      cursor: pointer;
      padding: 0 3px 0 0;
      &:focus {
        outline: none;
      }
    }
    .bx--overflow-menu {
      height: auto;
      width: auto;
      .bx--assistive-text {
        color: #86888c;
      }
    }
  }
}

.bx--overflow-menu-options__wrapper {
  margin-left: 20px;
}

.bx--overflow-menu--flip {
  // left: -45px ;
  &:before {
    left: 44px;
    width: 0.8rem;
    height: 0.8rem;
    top: -8px;
  }
}

.bx--overflow-menu-options {
  margin-top: 15px;
  box-shadow: 0 0 4px 0 #cccccc;
  padding: 3px 0;
  max-width: 155px;
  margin-left: 95px;
  a {
    color: $grey;
    font-family: Telefonicaregular;
    font-size: 14px;
    padding: 10px 12px !important;
    display: block;
  }

  &__option {
    &:hover {
      background-color: $white;
      a {
        background-color: $white;
      }
    }
  }
}
