.lds-card {
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: $white;

  max-width: 570px;

  padding: 18px;

  p {
    margin: 28px 0 0;
  }

  &__label {
    @extend %txt-subtitle-h2-bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
  }

  &__content {

  }
  &__title {
    margin: 0;
    @extend %txt-title-h2;

  }
  &__subtitle {
    margin: 5px 0 0;
    @extend %txt-title-h3;

  }
}
