$background: #e74c3c;
$select-color: $white;
$select-background: $white;
$select-width: 180px;
$select-height: 36px;

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  margin-top: 8px;
  color: $select-color;
  width: 100%;
  height: $select-height;
  @include media($mobile) {
    width: $select-width;
  }
}

.select-label {
  margin-right: 12px;
}

.select-styled {
  @include position(absolute, 0 0 0 0);
  background-color: $select-background;
  padding: 8px 12px;
  transition: $transition-slow;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  color: $grey;
  background: url("../images/icons/arrow_drop_down.svg") no-repeat;
  background-position: 94% center;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  font: {
    size: 14px;
    family: Telefonicaregular;
  }

  &.active {
    font-family: Telefonicabold;
  }
  &.open {
    background: url("../images/icons/arrow_drop_up.svg") no-repeat;
    background-position: 95% center;
  }

  &.open,
  &.active,
  &:active {
    border-color: $grey01;

    &:after {
      top: 9px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  @include position(relative, 100% 0 null 0);
  display: none;
  z-index: 999;
  margin: -5px 0 0;
  list-style: none;
  border: 1px solid #999;
  border-top: none;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: $white;
  padding-top: 3px;
  height: 110px;

  li {
    margin: 0;
    padding: 10px 0;
    text-indent: 12px;
    transition: $transition-slow;
    font: {
      size: 14px;
      family: Telefonicaregular;
    }
    color: $grey;

    &:hover {
      color: $blue;
      background: $grey03;
    }

    &[rel="hide"] {
      display: none;
    }
  }
}

.combobox-variants {
  &__right {
    .row {
      margin-left: 0;
    }
  }

  &__left {
    .row {
      margin-left: 0;
      @include media($mobile) {
        padding-top: 17px;
      }
    }
  }
}
// Scroll Bar
.sb-container {
  position: relative;
  overflow: hidden;
  padding-right: 10px;
}

.sb-content {
  height: 100%;
  width: 135%;
  padding-right: 20%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.sb-scrollbar-container {
  position: absolute;
  right: 3px;
  bottom: 5px;
  top: 5px;
  width: 10px;
  z-index: 999;
}

.sb-scrollbar {
  position: absolute;
  right: 0;
  height: 50px;
  width: 6px;
  border-radius: 50px;
  background: #86888c;
}

// .sb-scrollbar:hover {
//   background: rgba(0, 0, 0, 0.5);
// }
