.lds--custom-input {
  margin: 18px 24px 18px 0;
  display: inline-block;
  + .lds--custom-input {
    margin: 9px 0;
  }
  &.checkbox {
    @include input-custom($grey01, 14px, 14px, 2px, 15px, $white, $white, '');
  }
  &.radio {
    @include input-custom($grey01, 14px, 14px, 2px, 6px, $green, $white, '');
  }
}
