
.info-navigation__states {
  .viz-box {
    height: auto;
    margin-bottom: 40px;
    @include media($tablet) {
      margin-bottom: 0;
    }
  }
}


.viz-box {
  position: relative;
  &.open {
    .veil {
      opacity: .4;
      z-index: 2;
    }
  }
  .veil {
    @include position(absolute, 0 null null 0);
    @include size(100%);
    background: $white;
    opacity: 0;

    z-index: -1;

    transition: $transition-slow;
  }

}

.info {
  @include position(absolute, 20px 60px null null);
  z-index: 999;

  &.open {
    .hamburger {
      background: $white;
    }

    .btn-wrapper {
      transition-timing-function: linear;
      transition-duration: 200ms;

      .hamburger-1 {
        transform: translate3d(0, 0, 0) rotate(45deg);
      }

      .hamburger-2 {
        transform: translate3d(0, 0, 0) rotate(-45deg);
      }
    }

    .info-item {
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

      &:nth-child(3) {
        transition-duration: 170ms;
        transform: translate3d(-56px, 0, 0);
      }

      &:nth-child(4) {
        transition-duration: 250ms;
        transform: translate3d(-102px, 0, 0);
      }

      &:nth-child(5) {
        transition-duration: 330ms;
        transform: translate3d(-148px, 0, 0);
      }
    }
  }

  .btn-info {
    @include size(50px, 43px);
    margin: -3px -11px;

    &.active {
      svg {
        fill: $blue;
      }
    }

    svg {
      transition: $transition-slow;
      fill: $white;
    }
  }

  .info-item {
    background-color: $white;
    box-shadow: 0 0 4px 0 rgba(204, 204, 204, 0.5);
    border-radius: 50%;
    .menu-item {
      @include size(36px);
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: rem-calc(20);
        color: $grey01;
      }

      &:hover {
        transition: $transition-slow;
        transform: scale(1.1);
      }
    }

    svg {
      transition: $transition-slow;
      fill: $grey01;
      width: 21px !important;
      height: 21px !important;
    }
  }

  .btn-wrapper,
  .info-item {
    position: absolute;
    text-align: center;
    transition: transform ease-out 200ms;
  }

  .hamburger {
    @include size(12px,1px);
    @include position(absolute, 47% null null 40%);
    background: $blue;
    display: block;
    transition: transform 200ms;
    z-index: 999;

    &.hamburger-1 {
      transform: translate3d(0, 0, 0) rotate(90deg);
    }

    &.hamburger-2 {
      transform: translate3d(0, 0, 0);
    }
  }

  .btn-wrapper {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }
}
