/* =============================================================================
   TEXT FIELDS (uielements/_inputs.scss)
   ========================================================================== */
.lds-input-field {
  position: relative;
  margin-bottom: 45px;
  display: inline-grid;

  width: 100%;
  @include media($mobile) {
    width: auto;
  }

  &__label {
    color: $grey;
    font-size: rem-calc(14);
    pointer-events: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: left;
  }

  &__input {
    font-size: rem-calc(14);
    padding: 12px 25px 12px 0;
    display: block;
    border: none;
    border-bottom: 2px solid $grey01;
    transition: $transition-slow;
    line-height: 20px;
    @extend %txt-label;
    width: auto;
    max-width: 100%;
    outline-style:none;
    @include media($mobile) {
      width: 205px;
    }

    &:focus {
      border-bottom: 2px solid $green;
    }

    &:disabled {
      color: $grey02;
      opacity: 0.4;

      &:hover {
        cursor: not-allowed;
      }
    }

    &.error {
      border-bottom: 1px solid $pink;
      background: image-url('ic-error.svg') no-repeat;
      background-position: 100% 17px;

      &::-webkit-input-placeholder {
        color: $pink;
      }
    }

    &[type="password"] {
      background: image-url('ic-password.svg') no-repeat;
      background-position: 100% 17px;
    }

    &[type="email"] {
      padding-left: 22px;
      padding-right: 3px;
      background: image-url('ic-envelope.svg') no-repeat;
      background-position: 0 17px;
    }

    + .ic {
      &-success {
        background: image-url('ic-check-green.svg') no-repeat;
        @include position(absolute, null 0 8px null);
        @include size(20px);
      }
    }
  }
}

.lds-text-field {
  margin-bottom: 30px;
  @include media($mobile) {
    margin-bottom: 0;
  }
  &__input {
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0 0 4px 0 $grey07;
    border: none;
    width: auto;
    @extend %txt-label;
    padding: 12px;
    outline: 0;
    border-bottom: 2px solid $grey07;
    display: block;
    @include media($mobile) {
      width: 266px;
    }
    &.error {
      border-bottom: 2px solid $pink;
    }

    &:disabled {
      border-bottom: 2px solid $grey02;
      cursor: not-allowed;

      &::-webkit-input-placeholder {
        color: $grey02;
      }
    }

    &.active,
    &:focus {
      border-bottom: 2px solid $green;
      outline: 0;
    }

    &.active {
      outline: none;
      border-bottom-color: $green;
    }

    &:focus {
      outline: none;
      border-bottom-color: $green;

      &::-webkit-input-placeholder {
        text-indent: -999px;
      }
    }
  }

  &__label {
    @extend %txt-label;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
  }
  .message {
    @extend %txt-legend;

    &.error {
      color: $pink;
    }
  }
}

.text-field__anatomy {
  .col-xs-12 {
    h3 {
      margin-bottom: 20px;
      @include media($mobile) {
        margin-bottom: 0;
      }
    }
    margin-bottom: 30px;
    @include media($mobile) {
      margin-bottom: 0;
    }
  }

}
