.lds-modal {
  visibility: hidden;
  @include position(fixed, 0 0 0 0);
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  content: '';
  opacity: 0;
  background-color: rgba(74,74,74,0.15);
  transition: opacity 200ms, z-index 0s 200ms, visibility 0s 200ms;
  visibility: visible;
  outline: none;

  &.is-visible {
    z-index: 9000;
    opacity: 1;
    transition: opacity 200ms;
    visibility: visible;
  }

  &.is-static {
    z-index: 9000;
    opacity: 1;
    display: block;
    visibility: visible;
    position: relative;
    background: none;
  }
}

.lds-modal--container {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $white;
  max-width: 100%;
  max-height: 100%;
  padding: 30px 20px;
  margin: 0 20px;
  @include media($mobile) {
    max-width: 704px;
    padding: 30px;
    margin: 0;
  }
  @include media($small-desktop) {
    max-width: 704px;
    padding: 20px 45px 30px;
  }
  @include media($large-desktop) {
    max-width: 704px;
  }

  .actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 10px;

    .lds--custom-input {
      margin: 0;
    }
    @include media($tablet) {
      flex-direction: row;
    }

    .actions + .actions {
      order: -1;
      flex: 0 0 100%;
      margin-bottom: 25px;
      @include media($tablet) {
        margin-bottom: 0;
        order: 0;
        flex: 0 0 auto;
      }
    }

    .c-btn {
      width: 80px;
      @include media($tablet) {
        width: 122px;
      }
    }
  }
}

.lds-modal--header {
  flex-shrink: 0;
  margin-bottom: 25px;
}

.lds-modal--footer {
  padding: 20px 0 0 !important;
}

.lds-modal--header {
  margin-bottom: rem-calc(20);
}

.lds-modal--header__heading {
  @extend %txt-title-h2;
  margin-top: 54px;
}

.lds-modal--header__label {
  @extend %txt-subtitle-h2-bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  max-width: 38rem;
  margin-top: 30px;

  + .lds-modal--header__heading {
    margin-top: 5px;
  }
}

.lds-modal--close {
  @include position(absolute, 1rem 1rem null null);
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.25rem 0.25rem 0.125rem;

  .icon-close {
    color: $grey01;
    transition: $transition-slow;

    &:hover {
      color: $grey;
    }
  }
}

.lds-modal--content {
  margin-bottom: 80px;
  @extend %txt-paragraph;
}

.lds-modal--footer {
  margin-top: auto;
  background-color: $white;

  .btn-primary.inverse + .btn-primary {
    margin-left: rem-calc(18);
  }
}

button.bx--btn {
  display: inline-block;
}

.login-modal {
  text-align: center;
  padding-bottom: 20px;

  .lds-modal--header__label {
    @extend %txt-title-h3;
    text-transform: none;
    color: $green;
  }

  .lds-modal--container {
    width: 304px;
    align-items: center;
  }

  input {
    width: 100%;
  }

  .lds-modal--content {
    margin-bottom: 35px;
    width: 205px;

    .lds-input-field {
      width: 100%;

      input {
        width: auto;
      }
    }
  }

  .lds-modal--footer {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 35px;
  }
}

.setting-modal {
  .lds-modal--container {
    width: 830px;
    max-width: 100%;
    padding: 0 0 34px;
    @include media($mobile) {
      padding: 0 20px 34px;
    }
  }

  .lds-modal--content {
    margin-bottom: 28px;

    .col {
      padding-left: 40px;

      > div {
        margin-bottom: 15px;
      }
    }
  }

  .lds-modal--header__label {
    @extend %txt-text-positive-bold;
    text-transform: none;
    margin-top: 32px;
    margin-left: 30px;
  }

  .lds-modal--footer {
    .c-btn {
      width: auto;
      @include media($mobile) {
        width: 122px;
      }
    }
  }

  .actions-container {
    justify-content: flex-end;
    padding-right: 30px;
  }
}

.uielements_modals {
  .lds-modal:not(.is-static) {
    .lds-modal--container {
      @include media($mobile) {
        margin-left: 105px;
      }
    }
  }
}
