.multi {
  @include position(absolute, 0 0 0 0);
  background-color: $white;
  padding: 10px 0;
  border-radius: 3px;
  border: 1px solid $grey02;
  color: $grey;
  background: image-url('icons/arrow_drop_down.svg') no-repeat;
  background-position: 94% 15px;
  font-size: 14px;
  font-family: Telefonicaregular;
  width: 180px !important;
  .button-text {
    padding: 0 12px;
    cursor: pointer;
    display: block;
  }
  &.open {
    background: image-url('icons/arrow_drop_up.svg') no-repeat;
    background-position: 94% 15px;
    border-color: $grey01;
    .multi-menu {
     display: block;

   }
  }
  .multi-menu {
    min-height: 120px;
    top: 12px;
    .control {
      display: none;
    }
    .list-items {
      position: relative;
      cursor: pointer;
      padding: 8px 12px;
      &.selected {
        background: $grey03;
        a {
          color: $blue;
        }
        .check-mark {
          &:before {
            content: '\f1ca';
            font-family: fontcustom;
            color: $blue;
          }
        }
      }
      &.control {
        margin: 5px 0;
      }
      a {
        display: block;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: $grey;
        white-space: nowrap
      }
    }
  }
}


.multi-menu li a span.text {
  display: inline-block;
  position: relative
}

.multi-menu li a span.check-mark {
  display: none
}

.multi-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  margin-top: 0
}
