.lds-navigation--wrapper {
  margin: 20px 0;

  h2 {
    margin-bottom: 15px;
    text-align: left;
    font-size: rem-calc(16);
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 15px;
    margin-top: 0;
    text-align: left;
  }

  .row {
    margin-bottom: 15px;
    margin-top: 30px;
  }
}

.lds-navigation-icons {
  width: 100%;
    @include media($tablet) {
      width: 90%;
    }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &.icon-text {
    margin-top: 30px;

    .col-xs {
      margin-bottom: 10px;
      flex: 0 0 80px;
      @include media($tablet) {
        padding: 0 20px 40px;
      }
    }
  }

  &.default {
    text-align: center;

    &:not(.icon-text) {
      .col-xs {
        margin-right: 10px;
        margin-bottom: 20px;
        flex: 0 0 auto;
      }
    }

    p {
      margin-top: 10px;
    }

    .icon {
      cursor: pointer;

      display: inline-block;
      font-size: rem-calc(24);
      &:before {
        transition: $transition-slow;
      }

      &:hover:before {
        color: $grey01;
        display: block;

      }
    }


    &.hover {
      .icon {
        color: $grey01;
      }
    }

    &.blue {
      .icon {
          &:before {
          color: $blue;
        }
      }
    }

    &.black {
      .icon {
        &:before {
          color: $grey;
        }
      }
    }

    &.green {
      .icon  {
        &:before {
          color: $green;
        }
      }
    }

    &.disabled {
      .icon  {
        &:before {
          color: $grey07;
          cursor: not-allowed;
        }
      }
    }
  }
  #ico_15 {
    display: none;
  }
  &.active {
    #ico_15 {
      display: block;
    }
    #ico_16 {
      display: none;
    }
  }
}


@keyframes bounce {
	0%, 100% {
    transform: translateX(0);
  }
	40% {
  transform: translateX(-10px);
  }
}
