.lds-navigation--wrapper {
  margin: 40px 0;

  h2 {
    margin-bottom: 15px;
    text-align: left;
  }
  p {
    margin-bottom: 15px;
    margin-top: 0;
    text-align: left;
  }

  .row {
    margin-bottom: 15px;
    margin-top: 30px;
  }
}

.lds-navigation-icons {
  width: 100%;
    @include media($tablet) {
      width: 85%;
    }

  &.icon-text {
    margin-top: 60px;

    .col-xs {
      flex: 1 0 30%;
      margin-bottom: 10px;
      @include media($mobile) {
        flex: 1 0 16%;
      }
      @include media($tablet) {
        flex: 1 0 11%;
      }
    }
  }

  &.default {
    text-align: center;

    &:not(.icon-text) {
      .col-xs {
        margin-right: 10px;
        margin-bottom: 15px;
        flex: 1 0 13%;
        @include media($mobile) {
          flex: 1 0 14%;
        }
        @include media($tablet) {
          flex: 1 0 4%;
          margin-bottom: 5px;
        }
      }
    }

    p {
      margin-top: 10px;
    }

    .icon {
      color: $grey07;
      transition: $transition-slow;
      cursor: pointer;

      display: inline-block;

      &:hover {
        color: $grey01;
        display: block;

      }

      &.icon-add,
      &.icon-arrow_drop_down {
        &:hover {
          transform: rotate(180deg);
        }
      }
      &.icon-arrow_back {
        &:hover {
          animation: bounce 1s infinite;
        }
      }
    }


    &.hover {
      .icon {
        color: $grey01;
      }
    }

    &.blue {
      .icon {
        color: $blue;
      }
    }

    &.black {
      .icon {
        color: $grey;
      }
    }

    &.green {
      .icon  {
        color: $green;
      }
    }

    &.disabled {
      .icon  {
        color: $grey07;
        cursor: not-allowed;
      }
    }
  }
}


@keyframes bounce {
	0%, 100% {
    transform: translateX(0);
  }
	40% {
  transform: translateX(-10px);
  }
}
