.lds-navigation--wrapper {
  margin: 20px 0;
  h2 {
    margin-bottom: 10px;
    text-align: left;
  }
  p {
    margin-bottom: 5px;
    text-align: left;
  }
  .row {
    margin-bottom: 15px;
  }
}

.lds-navigation-icons {
  &.default {
    text-align: center;
    svg {
      fill: $grey07;
      transition: $transition-slow;
      cursor: pointer;
      &:hover {
        fill: $grey01;
      }
    }
    &.hover {
      svg {
        fill: $grey01;
      }
    }
    &.blue {
      svg {
        fill: $blue;
      }
    }
    &.black {
      svg {
        fill: $grey;
      }
    }
    &.green {
      svg {
        fill: $green;
      }
    }
    &.disabled {
      svg {
        fill: $grey07;
        cursor: not-allowed;
      }
    }
  }
}
