.lds-tags{
  border-radius: 12px;
  background-color: $tags;

  position: relative;
  padding: rem-calc(3) rem-calc(35) rem-calc(3) rem-calc(12);
  margin: 0 8px 8px 0;

  display: inline-block;
  text-align: left;

  max-width: 106px;
  transition: $transition-slow;
  cursor: pointer;

  &__caption {
    @extend %txt-caption;
    white-space: pre;
  }

  .icon-ic-close {
    font-size: rem-calc(10);
  }
  .icon-ic-back-arrow {
    font-size: rem-calc(10);
    color: $tags;
    position: relative;
    left: 2px;
    top: -1px;
  }

  &.tags-default {
    width: auto;
    white-space: pre;
    @include media($tablet) {
      width: 125px;

    }
  }
  &.tag-back {
    padding: 0 6px 0 4px;
    svg {
      fill: $tags;
      @include size(10px);
    }
  }
  &.tag-counter {
    padding: 0 9px 0 6px;
  }
  &.tag-counter, &.tag-back {
    background-color: $white;

    border: 2px solid $tags;
    span {
      color: $tags;
    }
    &:hover {
      border: 2px solid $tags-hover;
      span, i {
        color: $white;
      }
    }
  }
  &:hover, &.tags-hover {
    background-color: $tags-hover;
  }
  &.tags-disabled {
    background-color: $grey02;
  }

  .close {
    float: right;
    line-height: 1;
    @include position(absolute, 0 0 null null);
    padding: rem-calc(4) rem-calc(12);
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor:  pointer;

  }

  span {
    color: $white;
  }
}
