.lds-tags {
  border-radius: 12px;
  background-color: $tags;
  padding: 0 5px 0 12px;
  margin: 0 8px 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  max-width: 125px;
  height: 24px;
  transition: $transition-slow;
  cursor: pointer;

  float: left;

  &__caption {
    @extend %txt-caption;
    white-space: pre;
  }

  .icon-ic-close {
    &:before {
      color: $white;
      font-weight: bold;
      font-size: rem-calc(13);
    }
  }

  .icon-ic-chevron_left {
    &:before {
      font-size: rem-calc(18);
      color: $tags;
      font-weight: bold;
      margin-right: 2px;
    }
  }

  &.tags-default {
    width: auto;
    white-space: pre;
    @include media($tablet) {
      width: 125px;
    }
  }

  &.tag-back {
    padding: 0 6px 0 4px;

    svg {
      fill: $tags;
      @include size(10px);
    }
  }

  &.tag-counter {
    padding: 0 9px 0 6px;
    max-width: 39px;
  }
  &.tag-back {
    max-width: 24px;
    width: 24px;
    text-align: center;
    padding: 0;
  }

  &.tag-back,
  &.tag-counter {
    background-color: $white;
    border: 2px solid $tags;
    justify-content: center;

    span {
      color: $tags;
    }

    &:hover {
      border: 2px solid $tags-hover;

      i,
      span {
        color: $white;
      }
    }
  }

  &.tags-hover,
  &:hover {
    background-color: $tags-hover;
  }

  &.tags-disabled {
    background-color: $grey02;
  }

  .close {
    line-height: 1;
    border: none;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
  }

  span {
    color: $white;
    margin-top: -2px;
  }
}
