

//
// Variables
// -----------------------------------------

$tooltip-bg:             #fff !default;
$tooltip-bg-dark:        $grey05 !default;
$tooltip-base-size:      10px !default;
$tooltip-arrow-height:   10px;
$tooltip-shadow:         0 1px 5px rgba(0, 0, 0, 0.2);


//
// Mixins
// -----------------------------------------

  @mixin transform ($val) {
     transform: $val;
   }

  @mixin transform-origin ($val) {
  transform-origin: $val;
  }

.popover {
  @include position(relative, 0 null null 0);
  z-index: 1010;
  display: inline-block;
  background-color: $tooltip-bg;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: $tooltip-shadow;
  background-clip: padding-box;

  padding: 9px 14px;

  &-2__col {
    .popover-content {
      columns: 160px 2;
      column-gap: 1px;
      column-rule: 1px solid $grey03;
    }
  }

  &.dark {
    background-color: $tooltip-bg-dark;
    border: none;
    .arrow {
      border-color: transparent !important;
    }
    .tooltip-content {
      color: $white;
    }
  }

  &.top {
    .arrow {
      left: 50%;
      top: 100%;
      border-top-color: #ccc;
      border-width: 10px;
      @include transform(translate(-50%, 0));
      &:after {
        border-top-color: $tooltip-bg;
        border-width: 10px 10px 0;
        left: 50%;
        @include transform(translate(-50%, -12px));
      }

    }
  }
}

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover .arrow:after {
  z-index: -1;
  content: "";
}


.popover.right .arrow {
  top: 50%;
  right: 100%;
  border-right-color: #ccc;
  border-width: 10px;
  @include transform(translate(0, -50%));
  &:after {
    top: 50%;
    border-right-color: $tooltip-bg;
    border-width: 10px 10px 10px 0;
    @include transform(translate(2px, -50%));
  }

}

.popover.bottom .arrow {
  left: 50%;
  bottom: 100%;
  border-bottom-color: #ccc;
  border-width: 10px;
  @include transform(translate(-50%, 0));
  &:after {
    left: 50%;
    border-bottom-color: $tooltip-bg;
    border-width: 0 10px 10px;
    @include transform(translate(-50%, 2px));
    @include transform-origin(bottom);
  }
}

.popover.left .arrow {
  top: 50%;
  left: 100%;
  border-left-color: #ccc;
  border-width: 10px;
  @include transform(translate(0, -50%));
  &:after {
    top: 50%;
    border-left-color: $tooltip-bg;
    border-width: 10px 0 10px 10px;
    @include transform(translate(-12px, -50%));
    @include transform-origin(left);
  }
}


.popover {
  padding: 0;
  .arrow {
    &:before {
      content: '';
      background: image-url('ic-user.svg') no-repeat;
      padding: 12px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
&.top .arrow {
  left: 70%;
  &:before {
    margin-top: 20px;
  }
}
&.right .arrow {
  &:before {
    margin-left: -20px;
  }
}
&.left .arrow {
  &:before {
    margin-left: 20px;
  }
}
&.bottom .arrow {
  left: 70%;
  &:before {
    margin-top: -20px;
  }
}

  .popover-content {
    margin: 5px 0;
    min-width: 163px;
    li {
      list-style: none;
      padding: 9px 12px;
      text-align: left;
      &:hover {
        background: #f2f2f2;
        a {
          color: $blue;
        }
      }
      a {
        transition: $transition-slow;
        @extend %txt-note;
        display: block;
      }
    }
  }
}

.popover-example {
  margin-bottom: 100px;
  @include media($tablet) {
    margin-bottom: 0;

  }
}
