/* =============================================================================
   PROGRESS INDICATORS (uielements/_progress_indicators.scss)
   ========================================================================== */

.progress-content {
  text-align: center;
  margin: 55px 0 65px;
  @include media($tablet) {
    width: 610px;
  }
}
.progress {
  height: 42px;
  width: 100%;
  margin-bottom: 35px;
  overflow: hidden;
  border: solid 1px #b6b7b7;
  background-color: #f2f2f3;
  border-radius: 21px;
  padding: 2px;
  position: relative;
  text-align: center;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  border-radius: 21px 0 0 21px;
  color: $white;
  background-image: linear-gradient(to left, $green, $blue);
  &[aria-valuenow = '60'] {
    .percentaje {
      color: $white;
    }
  }
  &[aria-valuenow = '0'] {
    .percentaje {
      color: #86888c;
    }
  }
  &[aria-valuenow = '100'] {
    border-radius: 21px;
    .percentaje {
      color: $white;
    }
  }
  .percentaje {
    @extend %txt-text-positive-bold;
    color: #333;
    @include position(absolute, 50% null null 50%);
    transform: translate(-50%, -50%);
  }
}
