/* =============================================================================
   SWITCH (uielements/_switch.scss)
   ========================================================================== */


.switch {
  .lds--switch-input,
  .switch--label-on {
    display: none;

    &:disabled + .lds--switch-label {
      cursor: not-allowed;
      span {
        color: $grey02;
      }

      &:after {
        border: 1px solid $grey02;
      }

      &:before {
        background-color: $grey02;
      }
    }

    &:checked + .lds--switch-label {
      &:before {
        background-color: $green;
      }

      &:after {
        transform: translate(80%, -50%);
        border: 1px solid $grey02;
      }

      .switch--label-on {
        display: inline-block;
      }

      .switch--label-off {
        display: none;
      }
    }
  }

  .lds--switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    padding: 0 0 0 39px;

    &:after,
    &:before {
      content: "";
      position: absolute;
      margin: 0;
      outline: 0;
      top: 10px;
      transform: translate(0, -50%);
      transition: all 0.3s ease;
    }

    &:before {
      @include size(26px, 12px);
      left: 1px;
      background-color: $grey07;
      border-radius: 8px;
    }

    &:after {
      @include size(14px);
      left: 0;
      box-shadow: 0 0 4px 0 $grey07;
      background-color: $white;
      border: 1px solid $grey07;
      border-radius: 50%;
    }
  }
}
