/* =============================================================================
   TABS (uielements/_tabs.scss)
   ========================================================================== */

.lds-tabs {
  width: 100%;
  position: relative;
  display: flex;
  @include media($mobile) {
    width: 50%;
  }
  input[type="radio"][name="tabs"] {
    @include position(absolute, 10px null null 10px);
    z-index: -1;
    &:checked {
      + .tab-label-content {
        border-radius: 2px;
        box-shadow: inset 0 0 4px 0 $grey07;
        background-color: $grey03;
        background-image: none;
        border: solid 1px $grey02;
        label {
          color: $grey;
          font-family: Telefonicabold;
        }
        .tab-content {
          display: block;
        }
      }
    }
  }

  .tab-label {
    width: 100%;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    font-size: rem-calc(14);
    @include media($mobile) {
      font-size: rem-calc(14);
    }
  }
  .tab-label-content {
    width: 100%;
    // box-shadow: 0 0 4px 0 $grey07;
    background-image: linear-gradient(to bottom, $white, #f9fafb);
    border: solid 1px $grey02;
    text-align: center;
    display: block;
    padding: 3px 0 5px;
    margin: 0 -1px;
    .tab-content {
      @include position(absolute, 70px null null 0);
      line-height: 130%;
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 80%;
    margin-left: 10%;
    top: -106px;
  }
}
