.action.downloads {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-top: 1px dashed $grey;
  padding-top: 70px;
  margin-top: 15px;
  @include media($mobile) {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .action-item {
    text-align: center;
    @include media($mobile) {
      margin-right: 100px;
    }
    .link {
      font-size: rem-calc(14);
      &.pdf-link,
      &.ai-link,
      &.zip-link {
        svg {
          @include size(57px, 61px);
          margin-left: -15px;
        }
      }
    }
    .ai-ico {
      width: 60px;
    }

    .link {
      @extend %txt-links-positive;
      color: $blue;
      display: block;
      margin-top: 5px;
    }
    span {
      display: block;
      margin-top: 8px;
    }
  }
}
