.code-wrapper {
  display: flex;
  margin-top: 10px;

  .code-content {
    background: $grey03;
    width: 100%;
    padding: 10px 20px;
    border-radius: 3px;
    transition: max-height 0.8s;
    max-height: 500px;
    overflow: hidden;

    &.active {
      max-height: 20px;
      transition: $transition-slow;
    }
  }

  .code-actions {
    margin: 5px 10px;

    > * {
      display: block;
      margin-bottom: 12px;
      text-align: center;
    }

    .btn-toggle {
      cursor: pointer;

      svg {
        transition: $transition-slow;
        stroke: $grey01;
        fill: $white;
        fill-opacity: 1;
      }

      &.active {
        svg {
          transform: rotate(180deg);
          stroke: $green;
        }
      }
    }

    .btn-copy {
      cursor: pointer;
      opacity: 1;
      transition: $transition-slow;

      svg {
        fill: $grey01;
        fill-opacity: 1;
        transition: $transition-slow;

        &:hover {
          fill: $blue;
        }
      }

      &.hide {
        opacity: 0;
      }
    }
  }
}
