.component-slider {
  margin: 40px 0;
  height: 200px;
  &.big-slider {
    height: 400px;
    .component-item img {
      max-width: 900px;
    }
  }
  .row {
    align-items: flex-start;
    flex-direction: column;
    @include media($mobile) {
      flex-direction: row;
    }
  }
}

.component--slider-content {
  position: relative;
  text-align: center;
  .lds--custom-input {
    margin-top: 49px;
    margin-left: 31px;
    padding: 0 30px;
  }
}

.component-item {
  transition: left 0s 0.8s, visibility 0s 0.8s, opacity 0.5s;
  opacity: 0;
  z-index: -1;

  position: absolute;

  width: 100%;

  img {
    padding: 0;
    margin: 0;
    max-width: 1200px;
    width: 100%;
  }

  &.show {
    opacity: 1;
    transition: left 0s, visibility 0s, opacity 1.5s;
    left: 0;
  }
  .component--item-image {
    @include position(relative, 0 null null null);
  }
}

.component-menu {
  border-bottom: 1px solid $grey07;
  margin-bottom: 60px;
  text-align: center;
  @include media($tablet) {
    border-left: 1px solid $grey07;
    border-bottom: none;
    text-align: left;
    margin-bottom: 0;
    padding-left: 25px;
  }

  li {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    @include media($tablet) {
      display: block;
      margin: 0 0 10px;
    }

    a {
      @extend %txt-links-positive;
      color: $grey;

      &:hover {
        color: $blue;
      }

      &:before {
        background: $blue;
      }

      &.active {
        color: $blue;
        @extend %txt-links-positive;

        &:before {
          background: $blue;
        }
      }
    }
  }
}

.anatomy {
  .col-xs-12 {
    margin-bottom: 40px;
    @include media($mobile) {
      margin-bottom: 0;
    }
  }
}
