.component-slider {
  margin: 40px 0;
  height: 200px;
  .row {
    align-items: flex-start;
  }
}

.component--slider-content {
  position: relative;
  .lds-switch {
    margin-top: 49px;
    margin-left: 31px;
    padding: 0 30px;
  }
}

.component-item {
  transition: left 0s 0.8s, visibility 0s 0.8s, opacity 0.5s;
  opacity: 0;
  @include position(absolute, -48px null null 0);
  z-index: -1;

  width: 100%;

  img {
    padding: 0;
    margin: 0;
    width: 260px;
  }

  &.show {
    opacity: 1;
    transition: left 0s, visibility 0s, opacity 1.5s;
    left: 0;
  }
  .component--item-image {
  }
}

.component-menu {
  border-left: 1px solid #ccc;
  padding-left: 25px;

  li {
    list-style: none;
    margin-bottom: 10px;

    a {
      @extend %txt-links-positive;
      color: $grey;

      &:hover {
        color: $blue;
      }

      &:before {
        background: $blue;
      }

      &.active {
        color: $blue;
        @extend %txt-links-positive;

        &:before {
          background: $blue;
        }
      }
    }
  }
}
