.c-features-block {
  h3 {
    margin-top: 17px;

    + .bx--type-p {
      margin-bottom: 36px;
    }
  }

  .items-wrapper {
    padding: 0;
    @include media($mobile) {
      padding: 0 50px;
    }

    .feature-item {
      margin-bottom: 48px;
    }
  }
  svg {
    margin-right: 12px;
    margin-top: 4px;
  }
}
