.no-transition {
  transition: none !important;
}

.multiple-alert__wrapper {
  margin-top: 40px;
  margin-left: -30px;
  margin-right: 30px;
  @include media($mobile) {
    margin: 40px -20px 0;
  }
}
.stackedcards-overflow {
  overflow-y: hidden !important;
}

.stackedcards.init {
  opacity: 0;
  /* set the opacity to 0 if you want a fade-in effect to stacked cards on page load */
}

.stackedcards {
  position: relative;
  .actions, .right-action {
    @include position(absolute, -56px null null 28px);
    @include size(380px, 130px);
    background: transparent;
    z-index: 9999;


    cursor: pointer;
  
  }
}

.stackedcards * {
  user-select: none;
}

.stackedcards--animatable {
  transition: all 400ms ease;
}

.stackedcards .stackedcards-container > *,
.stackedcards-overlay {
  position: absolute;
  height: auto;
  will-change: transform, opacity;
  top: 0;
  @include media($mobile) {
    @include size(346px, 74px);
  }
}

.stackedcards-overlay.left > div,
.stackedcards-overlay.right > div,
.stackedcards-overlay.top > div {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.stackedcards-overlay.left,
.stackedcards-overlay.right,
.stackedcards-overlay.top {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  /* this style was added only for better preview */
  text-transform: uppercase;
  /* this style was added only for better preview */
  font-weight: 500;
  /* this style was added only for better preview */
  color: #fff;
  /* this style was added only for better preview */
}


.stackedcards-overlay.left:empty,
.stackedcards-overlay.right:empty,
.stackedcards-overlay.top:empty {
  display: none !important;
}

.stackedcards-overlay-hidden {
  display: none;
}

.stackedcards-origin-bottom {
  transform-origin: bottom;
}

.stackedcards-origin-top {
  transform-origin: top;
}

.stackedcards-bottom,
.stackedcards-none,
.stackedcards-top {
  background: #fff;
  /* set card background background */
  height: 100%;
}

.stackedcards .stackedcards-container > :nth-child(1) {
  position: relative;
  display: block;
}
