---
page_title: UI Elements & Components
description: At LUCA we want to create great experiences for our tool’s users. Our design system helps us work together to build a great experience for all of LUCA’s designers and developers. We want to apply the desing and interaction in our tools and other solutions consistently across our product portfolio, making sure give to people an space for use and reuse with flexibility, continuosly revised and adapte to suit changing product needs.

layout: content
index: true
---

.content
  h1.bx--type-h1 = current_page.data.page_title

  p.bx--type-p.u-pb-5 = current_page.data.description

  p.bx--type-p
    LUCA Design System offers a common visual style that you can flexibly apply to a range of LUCA digital platforms. Our visual style offers a clean, modern aesthetic that meets igh standards of visual accessibility while promoting credibility, trust, and warmth in the design.
